body{margin: 0;padding: 0;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.clear {clear: both;font: 0px/0 Arial;height: 0;visibility: hidden;}

.reg-body{font-family: Microsoft YaHei;background-color: #ffffff;}
.hd{padding: 5px 40px;}
.hd-wrapper{border-bottom: 1px solid #bfbfbf;padding: 5px 0;}
.hd-title-wrapper{float: left;}
.hd-title{font-size: 20px;color:#c90103;font-weight: bold;}
.hd-subtitle{font-size: 14px;}
.hd-desc{float:right;margin-top:12px;}
.hd-desc-tips{font-size: 16px;}
.hd-reg-btn{display: inline-block;height: 34px;line-height: 34px;background: transparent url(images/bg.png) no-repeat 0 0;padding-left: 2px;}
.hd-reg-btn span{display: inline-block;padding-left: 23px;padding-right: 25px;text-align: center;background: transparent url(images/bg.png) no-repeat right 0;font-size: 14px;}

.hd-reg-btn.reg{background-position-y:0;}
.hd-reg-btn.reg span{background-position-y:-34px;color: #ffffff;}
.hd-reg-btn.buy{background-position-y:-68px;}
.hd-reg-btn.buy span{background-position-y:-102px;color: #ffffff;}
.hd-reg-btn.homepage{background-position-y:-136px;}
.hd-reg-btn.homepage span{background-position-y:-170px;color: #2c8ac7;}
.hd-reg-btn.skill{background-position-y:-136px;}
.hd-reg-btn.skill span{background-position-y:-170px;color: #ca0003;}
.hd-reg-btn.normal{background-position-y:-136px;}
.hd-reg-btn.normal span{background-position-y:-170px;color: #4f4f4f;}
.hd-help-btn{display:inline-block;margin: 0 15px;}
.hd-help-btn a{vertical-align: -5px;}

.bd-msg-box{width: 500px;margin: 50px auto 0;border: 1px solid #b8b8b8;}
.bd-msg-box .msg-box-bd{padding:30px 30px 60px 30px;color: #444444;}
.bd-msg-box .msg-box-bd.error{background: #F8F8F8 url(images/error_face.png) no-repeat 20px center;}
.bd-msg-box .msg-box-bd.success{background: #F8F8F8 url(images/success_face.png) no-repeat 20px center;}
.bd-msg-box .msg-box-bd .msg-box-bd-title{height:62px;line-height: 62px;}
.bd-msg-box .msg-box-bd-title-a{float: left;margin-left: 70px;font-size: 36px;font-weight: bold;}
.bd-msg-box .msg-box-bd-title-b{float: left;font-size: 20px;margin-left: 70px;}
.bd-msg-box .msg-box-ft{height: 44px;line-height: 44px;border-top: 1px solid #b8b8b8;text-align: center;background-color: #EEEEEE;}
.msg-box-ft .hd-reg-btn{margin-top: 5px;}

.bd-table{margin-top: 20px;font-size: 14px;}
.bd-table td{border: 1px solid #b8b8b8;background-color: #f8f8f8;}
.bd-table-header{height: 54px;line-height: 54px;font-size: 16px;font-weight: bold;color: #cb0006;}
.reg-wrapper{margin:20px;border-bottom: 1px dashed #bebebe;padding-bottom: 10px;}
.reg-wrapper .reg-hd, .reg-wrapper .reg-bd{float: left;}
.reg-wrapper .reg-hd{font-weight: bold;}
.reg-wrapper .reg-bd{margin-left: 10px;}
.reg-bans{margin: 20px;line-height: 150%;}
.reg-input-cert{margin:0 0 5px 0;}
input.reg-input-check{vertical-align: -8px;vertical-align: -5px\9;+vertical-align:0;margin-top: 10px;border: none;padding: 0;background: none;}
input.reg-input-check:hover{background: none;border: none;}
.bd-table-ft{height: 44px;line-height: 44px;text-align: center;}