#APPLY_DATE{
    width:188px;
}
#apply_content{
    margin-top: 40px;
}
#APPLY_TO_NAME{
    width:748px;
    height:20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.apply_head_msg{
    position: relative;
}
.batch_power_box {
    /* position: absolute;
    top: 1px;
    right: 8px;
    height: 20px;
    line-height: 20px;
    border-left: 0;
    background: #eee; */
    position: absolute;
    top: 11px;
    right:8px;
    width:752px;
    background: #eee;
}
.orgAdd {
    color: #207BD6;
    background-position: 0px 0px;
    cursor: pointer;
    /* position: absolute; */
    /* bottom: 9px; */
    /* right: 200px; */
    line-height: 20px;
    float: right;
    margin-right: 10px;
}
.orgClear {
    color: #9AA9B8;
    cursor: pointer;
    /* position: absolute; */
    /* bottom: 9px; */
    /* right: 140px; */
    line-height: 20px;
    float: right;
    margin-right: 10px;
}
/* .batch_power_box .orgAdd, .batch_power_box .orgClear {
    margin-right: 0px;
} */
.power_btn_box .orgClear, .batch_power_box .orgClear {
    color: #9AA9B8;
    cursor: pointer;
    float: right;
    /* margin-right: 10px; */
}
.power_btn_box .orgAdd, .batch_power_box .orgAdd {
    color: #207BD6;
    cursor: pointer;
    /* float: right;
    margin-right: 20px; */
}
.add_icon{
    margin-right:0!important;
}