.notify-auditing-detail,#details_info {
    background-color: #f3f3f3;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 60px;
}
.notify-auditing-detail .info,
.notify-auditing-detail .apply-info,
.notify-auditing-detail .reject-info {
    background-color: #fff;
    padding: 14.5px 16px 10px 16px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.info-title{
	padding: 10px 12px 1px 12px;
    box-sizing: border-box;
	background:#fff;
}
.title-text{
	width:41px;
	height:19px;
	background:#0e86fe;
	color:#fff;
	font-size:13px;
	text-align:center;
	border-radius:5px;
	display:inline-block;
}
.apply-name,.apply-date{
	display:inline-block;
	color:#666;
	font-size:14px;
	margin-left:10px;
}
.notify-info{
	padding:10px;
	background:#f3f9ff;
	box-sizing: border-box;
	border-radius:5px;
	background:#fff;
}
.release-scope{
	padding:10px;
	
}
.notify-info-title{
	color:#666;
	font-size:16px;
}
.notify-info-release-scope{
	padding-bottom:15px;
	
}
.scope-box{
	/* background:red; */
}
.scope-box-title{
	width:100%;
	padding-bottom:10px;
	position:relative;
}
.scope-name{
	color:#0e86fe;
	display:inline-block;
	font-size:15px;
	padding-right:5px;
	vertical-align: top;
}
.scope-img{
	width:15px;
	height:15px;
	padding:2px 5px 0 0;
	display:inline-block;
	vertical-align: top;
}
.scope-info{
	display:inline-block;
	width:78%;
	vertical-align:top;
	font-size:15px;
	color:#333;
}
.info-box{
	padding:10px 10px 1px 10px;
	position:relative;
}
.release-date{
	width:115px;
	display:inline-block;
}
.release-date-info{
	display:inline-block;
	float:right;
}
.info-easy{
	color:#333;
	font-size:15px;
}
.apply-info{
	margin-top:10px;
}
.apply-opinion{
	color:#fc3f3f;
	font-size:16px;
	padding:0 20px;
}
.apply-opinion-content{
	padding:10px 20px;
}
.subject{
	font-size:16px;
	color:#0e86fe;
	text-align:center;
	padding-bottom:10px;
}
.reject,.pass{
    display: inline-block;
    width: 50%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: #fff;
    background-color: #0e86fe;
    position: relative;
}
.reject:after {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    background-color: #fff;
    /* margin-right: 1px;
    width: 170px; */
}
.notify-auditing-detail .ui-dialog-cnt {
    width: 291px;
}
.notify-auditing-detail .ui-dialog-bd {
    padding: 0 24px 15px 24px;
}
.notify-auditing-detail .ui-dialog-bd h3 {
    font-size: 14px;
    color: #666;
    height: 49px;
    line-height: 49px;
}
.notify-auditing-detail .ui-dialog-ft {
    height: 44px;
    line-height: 44px;
}
.notify-auditing-detail .ui-dialog-ft button {
    line-height: 44px;
}
.notify-auditing-detail .ui-dialog-ft .btn-cancle {
    color: #333;
    font-size: 14px;
    background-image: none;
}
.notify-auditing-detail .ui-dialog-ft .btn-submit {
    color: #fff;
    font-size: 14px;
    background-color: #0e86fe;
}
.notify-auditing-detail .ui-dialog-ft .btn-submit:active {
    background-color: #0e86fe !important;
}
.notify-auditing-detail .ui-dialog-ft .btn-cancle:active {
    background-color: #fff !important;
}
.notify-auditing-detail .ui-dialog-bd textarea {
    -webkit-appearance: none;
    width: 213px;
    border: 1px solid #f5f5f5;
    background: 0 0;
    color: #333;
    font-size: 15px;
    height: 64px;
    padding: 10px 15px;
}
.subject_title{
	display:block;
	width: 80%;
    float: right;
	text-align:right;
	font-size:16px;
	color:#333;
}
.on-title{
	padding-left:8px;
}
.line {
    height: auto;
    min-height: 52px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}
.line-overlay {
    display: block;
}
.line-overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    /* background-color: red; */
}
.time-text{
    color: #666;
}
.input-date {
    float: right;
    margin: 0;
    height: 24px;
    line-height: 24px;
    position: relative;
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-appearance: none;
    border: 0;
    width: 155px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    text-align: right;
    margin-right: 20px;
}
.time-btn_arrow {
    width: 7.5px;
    height: 13px;
    position: absolute;
    right:10px;
    top:22px;
    margin-top: -7.5px;
    pointer-events: none;
}
.top_int{
	width: 100px;
    display: inline-block;
    float: right;
    height: 24px;
	border:0;
}
#top_input{
	width: 40px;
    height: 100%;
    vertical-align: top;
    float: right;
}
#handleDiv{
	width: 100%;
    position: fixed;
    bottom: 0;
	z-index:1000;
}
.bor-bottom{
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}
.toast{
	z-index:9999999999;
}




