*{
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	margin: 0px;
}
label {
    display: inline;
}
.ui-tabs.ui-widget.ui-widget-content.ui-corner-all{
	margin-bottom: 10px;
    border-radius: 3px;
}
ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
        margin: 0;
    padding: 10px 0px;
    background: #f5f5f5;
    padding-left: 10px;
    font-weight: bold;
	    border: 1px solid #e8e8e8;
    border-bottom: none;
}
ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li{
	outline: none;
	cursor: default;
}
ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all .ui-tabs-anchor{
	text-decoration: none;
	color: #686868;
}
.App_TableBlock{
	border: none;
}
.App_TableBlock td{
    padding: 8px 5px;
	background: #fff;
	    border: 1px solid #e8e8e8;
}
.App_TableBlock .TableData{
}
.TableLabel{
	background: #fff;
}
.btn{
	height: 30px;
	line-height: 20px;
}
.select_form_title{
	font-size: 20px;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.select_form_header .btn {
  position: relative;
  padding: 4px 12px;
  margin: 0;
  color: #333;
  
  white-space: nowrap;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  cursor: default;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select_form_header .btn:hover {
  text-shadow: none;
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.select_form_header .btn.active,
.select_form_header .btn:active {
  background-image: none;
  outline: 0;
  background: #e8e8e8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(to bottom, #f6f6f6, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
}
.select_form_header .btn-primary {
  border: 1px solid #3079ed;
  color: #ffffff;
  background-color: #4b8cf7;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
  *background-color: #4d90fe;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.select_form_header .btn-primary:hover,
.select_form_header .btn-primary:active,
.select_form_header .btn-primary.active {
  border: 1px solid #196aeb;
  color: #ffffff;
  background-color: #4186f6;
  background-image: -moz-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#3078eb));
  background-image: -webkit-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -o-linear-gradient(top, #4d90fe, #3078eb);
  background-image: linear-gradient(to bottom, #4d90fe, #3078eb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff3078eb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #3078eb;
  background-color: #3078eb \9;
}
.select_form_header .btn-primary:active,
.select_form_header .btn-primary.active {
  border: 1px solid #135fd7;
  background-color: #3880f5;
  background-image: -moz-linear-gradient(top, #4d90fe, #1969e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#1969e8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #1969e8);
  background-image: -o-linear-gradient(top, #4d90fe, #1969e8);
  background-image: linear-gradient(to bottom, #4d90fe, #1969e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff1969e8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.select_form_header .btn-primary:focus {
  border: 1px solid #3079ed;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.form-type-block{
	font-size: 13px;
    display: inline-block;
    color: #000;
}
.f_field_ctrl_circulation{
	margin: 0;
}
.f_field_ctrl_circulation input,
.f_field_label input{
	vertical-align: text-bottom;
}

