html,body{
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.clear {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.ui-container{
  height: 100%;
}
.ui-form {
    background: #f5f5f9;
}
.ui-form-help {
    font-size: 13px;
    color: #999;
    line-height: 20px;
}

.ui-form-item {
    height: auto;
    min-height: 44px;
    background: #fff;
    border-bottom: 1px solid #dedede;
}
.ui-form-control {
    display: inline-block;
    width: 70%;
    position: relative;
}
.ui-form-item textarea,
.ui-form-item input[type=text],
.ui-form-item input[type=email],
.ui-form-item input[type=date],
.ui-form-item input[type=password],
.ui-form-item input[type=number],
.ui-form-item input[type=url],
.ui-form-item input[type=tel]{
    margin: 0;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 24px;
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    height: auto;
    outline: 0;
    color: #000;
    border-radius: 4px;
    -webkit-transition: background-color .3s ease-out,-webkit-box-shadow .2s ease,border-color .2s ease;
    transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
    -webkit-box-shadow: 0 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 0 rgba(0,0,0,.3) inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}
.ui-form-control textarea{
    padding-left: 0;
}
.ui-form-control .ui-select-group{
    margin-left: 0px;
}
.ui-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-radio){
    display: inline-block;
    width: auto;
    min-width: 25%;
    position: relative;
    vertical-align: top;
}
.read_detail.tag-RListField .list-item  label{
    font-size: 12px;
    padding: 0 5px;
}
.ui-form-item .ui-form-control.ui-radio-group,
.ui-form-item .ui-form-control.ui-checkbox-group{
    display: block;
}
.ui-checkbox input:before, .ui-checkbox-s input:before{
    content: "\e605";
    line-height: normal;
    font-size: 36px;
}
.ui-form-icon-time{
    font-size: 16px;
    display: inline;
    margin-left: 5px;
    color: #bfbfbf;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 5px;
	line-height:1;
}

.ui-btn, .ui-btn-lg, .ui-btn-s{
    vertical-align: middle;
}
.ui-form-item-textarea {
    line-height: initial;
}
.ui-form-item-textarea .ui-form-item-title {
    line-height: 44px;
}
.ui-form-item-title-listview{
    display: block !important;
}
.ui-form-item-textarea textarea{
    margin: 5px 0px;
    height: 120px;
}
.ui-form-tag{
    margin-right: 10px;
    padding:5px;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-bottom: 5px;
    line-height: 15px;
    display: inline-block;
    color: rgb(241, 151, 54);
    border: 1px solid rgb(241, 151, 54);
}
.ui-form-badge-dot {
    color: rgb(255, 91, 5);
}
.ui-radio, .ui-checkbox{
    margin-right: 10px;
}
.f-address .ui-form-control .ui-select{
    width: 100%;
}

.ui-form-list-addicon{
    float: right;
}
.ui-form-control.ui-form-list-control{
    clear: both;
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border-bottom: 0;
}
.ui-form-list-item{
    border-bottom: 1px solid #ddd;
}

.ui-form-list-control span{
    display: inline-block;
    font-size:12px;
}
.ui-form-list-item span{
    margin-right: 15px;
}
span.ui-form-list-index{
    width: 20px;
    text-align: center;
}
.ui-attach-img-wrap{
    display: inline-block;
    margin: 10px 20px 0px 0;
    position: relative;
}
.ui-attach-img-wrap .ui-icon-close-progress{
    position: absolute;
    top: -15px;
    right: -13px;
    color: #ef3c3c;
    font-size: 32px !important;
    background: none;
    z-index: 999;
    width: 32px;
    height: 26px;
}
p.ui-loca-detial{
    height: 25px;
    line-height: 25px;
}
.ui-attach-img{
    height: 100px;
    width: 100px;
}

.ui-attch-file-wrap{
    position: relative;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 5px;

}
.ui-attch-file-wrap .ui-icon-close-progress{
	position: absolute;
    top: -15px;
    right: -3px;
    color: #ef3c3c;
    font-size: 32px !important;
    background: none;
}

.ui-attch-file-name{
    display: inline-block;
    width: 210px;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}
.ui-attch-img-name{
    width:100px;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    display: block;
}
.ui-form-control .ui-userselect-list a.ui-form-tag,
.ui-form-control .ui-deptselect-list a.ui-form-tag,
.ui-deptselect-list a.ui-form-tag,
.ui-userselect-list a.ui-form-tag{
    margin-bottom: 5px;
    line-height: 15px;
    display: inline-block;

}
.ui-form-list-delete{
    float: right;
}
.page{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}
.page.in{
    display: block;
}

.list-wrapper{
    width: 100%;
	/* border-bottom: 1px solid #ddd; */
}
.read_detail{
    border-bottom: 1px solid #ddd;
}
.list-content .read_detail.last,
#list_detail .read_detail.last{
    border-bottom: none;
}
.list-content .read_detail label,
#list_detail .read_detail label{
    /* float: left;
    line-height: 30px; */
    padding: 0 5px;
    /* color: #5e5e5e;
    width: 80px; */
}
.list-content .read_detail_hd,
#list_detail .read_detail_hd{
    font-weight: bold;
}
.reportbtn{
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #2685EE;
    background: #2685EE;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}
.reportbtn:hover{
    border: 1px solid #2075D3;
    background: #2075D3;
}
.reportclose{
    padding: 5px 10px;
    color: #666;
    border: 1px solid #D2D2D2;
    background: #E7E7E7;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}
.reportclose:hover{
    border: 1px solid #C0C0C0;
    background: #EEEEEE;
}
.report-block-header{
    position: relative;
}
a.report-list-icon-create{
    display: none;
}
a.report-list-icon-create.active{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('/mobile/style/images/plus.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    position: absolute;
    right: 0;
}
.reportWrapper{
    margin-bottom: 30px;
    border-top: 1px solid #ddd;
}
.list-content h3,
#list_detail h3{
    background-color: #f1f1f1;
    color: #898989;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    word-break: break-all;
}
#list_detail h3{
	height: 40px;
    line-height: 2.8;
}
.field{
    color: #696969;
    line-height: 30px;
}
.field input{
    padding: 4px 8px;
    border: none;
    border: 1px solid #efefef;
    background-color: #FFF;
    color: #6F6F6F;
    border-radius: 3px;
}
.field input[type=checkbox],
.field input[type=radio] {
    border: none;
}
.field-editable .field:before {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #7AAEE2;
    content: ' ';
    left: 11px;
    margin-top: 11px;
}
#list_detail .field{
    margin: 0px 10px;
}
#list_detail .field textarea{
    margin: 0;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    outline: 0;
    color: #6F6F6F;
    border-radius: 4px;
    -webkit-transition: background-color .3s ease-out,-webkit-box-shadow .2s ease,border-color .2s ease;
    transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
    -webkit-box-shadow: 0 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 0 rgba(0,0,0,.3) inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px;
    line-height: 1.33;
    resize: vertical;
}
.reportBlock{
    background-color: #fff;
    border: 0px solid #a1acad;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 0px 0px #fff;
    -moz-box-shadow: 0 0 1px 0px #fff;
    -webkit-border-shadow: 0 0 1px 0px #fff;
}
#list_detail .reportBlock{
    border-bottom: 1px solid #ddd;
	padding: 0;
}
.holder-40 {
  height: 40px;
}
.list-wrapper .list-sum{
    display: none;
    background:#fff;
}

#list_detail .read_detail label {
    padding-left: 15px;
}
.read_detail.clearfix.tag-select.field-editable label{
    vertical-align: top;
    margin-top: 6px;
    display: inline-table;
}
.list-content .tag-RListField,
.list-sum .tag-RListField,
#list_detail .tag-RListField{
    position: relative;
    margin-bottom: 0px;
    padding: 0px 0px;
    z-index: 1001;
	overflow: hidden;
}
.list-wrapper .tag-RListField.last{
    border-bottom: none;
}
.tag-RRichtextField textarea,
#list_detail .tag-RRichtextField textarea{
    display: block;
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
    min-height: 100px;
    min-width: 260px;
    max-width: 100%;
}
.tag-RListField .list-item,
#list_detail .tag-RListField .list-item{
	padding: 5px 0px;
    background: #fff;
    z-index: 9999;
    position: relative;
}
.list-sum .tag-RListField .list-item{
    padding-left: 40px;
}
.list-content .tag-RListField .list-item-new{
    padding-left: 34px;
}

.tag-RListField div.list-item .no,
#list_detail .tag-RListField div.list-item .no{
    display: inline-block;
    border-left: 0px solid #39e;
    background: #7AAEE2;
    min-width: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 14px;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
	vertical-align: text-bottom;
}
.list-sum .tag-RListField .list-item .no,
.list-content .tag-RListField .list-item-new .no{
    margin-right: 5px;
    padding: 0px 5px;
}
.read_detail_delete{
	display: none;
	position: absolute;
	top: 0px;
	right: -120px;
	height: 100%;
	width: 100px;
	background: #FF7373;
	color: #fff;
	font-weight: bold;
	z-index: 10000;
	text-align: center;
}
.deletePriv .read_detail_delete{
	display: block;
}
.read_detail_delete span{
	//background:#00f;
	display: block;
    height: 100%;
    width: 100%;
	line-height: 64px;
}
.listviewicon{
	display: inline-block;
    color: #18b4ed;
    font-size: 23px;
    line-height: 23px;
}

.read_detail.tag-RListField {
    margin-bottom: 0;
    color: #000;
}
.tform select {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    min-width: 80px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
}
.read_detail.clearfix.field-editable{
    padding: 5px 10px;
}

.ui-form-item .ui-form-control textarea{
    margin-top: 5px;
    resize:none;
}
div.ui-select select[multiple],
.read_detail  div.field select[multiple]{
    height: auto;
    margin-top: 10px;
    padding: 0;
    min-width: 200px;
}
div.ui-select:after {
    display:none;
}
#current_step,#sign_suggest{
    display:none;
}
.no-new{
    display: inline-block;
    border-left: 0px solid #39e;
    background: #7AAEE2;
    text-align: center;
	vertical-align: text-bottom;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    font-size: 10px;
}
#nocontent{
	font-size: 12px;
	color:#999;
}
.read_detail_delete_wrapper{
	width: 100%;
	height: 100%;
	display: table;
}
.read_detail_delete_wrapper span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.read_detail.hide{
    display: none
}
.read_detail label {
    /*width: 80%;*//*40%会导致下一步名称不显示*//*80%又会导致列表详情字段标签太长，因此去掉width控制*/
    display: inline-block;
}
.read_detail.read_detail_fem.endline label {
    width: auto;
}
.f-attachment a.pda_attach{
	padding: 0px;
	line-height: initial;
    padding: 10px 10px;
}
.f-attachment .ui-attch-file-name{
	height:auto;
    line-height: initial;
}
.read_detail .prcs_name {
    width: 48%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.websign-btn{
    color:#00a5e0
}
.run_name_content{
  width: 90%;
}
.currency-content{
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px;
}
.currency-addon{
    display: inline-block;
    background-color: #eee;
    width: 20px;
    text-align: center;
    position: absolute;
    left: 1px;
    top: 1px;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    z-index:1;
    line-height: 32px;
    height: 32px;
}
.ui-page .tform-list .currency-input{
    display: block;
    width: 100%;
    padding-left: 20px;
}
#list_detail .ui-form .currency-input{
    display: block;
    width: 100%;
    padding-left: 20px;
}

.list-gatherData{
  font-size: 12px;
  background-color: #fafafa;
}
.list-gatherData .list-content{
  overflow: hidden;
  border-bottom: 1px solid #E6E6E6;
}
.list-gatherData .list-gatherData-title{
  float: left;
  width: 20%;
}
.list-gatherData .list-gatherData-content{
  float: right;
  width: 80%;
}
.list-gatherData label{
  padding:  0 5px;
}
.list-gatherData span{
  display: inline-block;
}
.field-writable {
    margin-right: 3px;
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-bottom: 2px;
    border-radius: 100%;
    background-color: #4395ff;
}

.ui-form-item-title{
  font-weight: bold;
}
