html, body {
    height: 100%;
    min-width: 1200px;
    min-height:800px;
    overflow: auto;
    padding: 0;
}
body {
    position: relative;
    margin: 0;
    background: #02335d;
}
#wrapper{
    position: absolute;
    height: 100%;
    width: 1280px;
    margin-left: -640px;
    left: 50%;
}
.bg{
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
}
.highcharts-container {
    margin: 40px auto;
    border: 1px solid rgba(96, 186, 226, 0.4);
    background: rgba(64, 103, 140, 0.34902);
    box-shadow: 0 0 0 2px rgba(41, 71, 84, 0.38);
    border-radius: 5px;
}
#canvas, .container, .container-left, .container-right{
    position: absolute;
    left: 50%;
}
#canvas {
    opacity: 0.7;
    top: 5px;
    margin-left: -242px;
}
.container {
    top: 5px;
    margin-left: -242px;
    z-index: 1;
}
.container-left {
    width: 250px;
    height: 200px;
    margin-left: -568px;
    top: 55px;
}
.container-right {
    width: 250px;
    height: 200px;
    margin-left: 289px;
    top: 55px;
}
.container-bottom{
    position: absolute;
    top: 420px;
    height: 250px;
    width: 530px;
    left: 50%;
    margin-left: -285px;
}
.guide{
    position: fixed;
    top: 30px;
    left: 30px;
    background: #CACACA;
    color: #333;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    z-index: 999;
}
.guide:hover{
    background: #fff;
}
.layer{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0.5;
    background: #999;
}
.modal{
    display: none;
    position: fixed;
    width: 600px;
    height: 360px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -180px;
    background: #fff;
    z-index: 99;
    border-radius: 4px;
}
.on .layer,.on .modal{
    display: block;
}
.modal-hd{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    background: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.modal-bd{
    font-size: 14px;
    padding: 30px 80px;
}
.modal-bd tr{
    margin-bottom: 5px;
    display: block;
}
.modal-ft{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 0px;
    text-align: right;
    border-top: 1px solid #ddd;
    background: #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.modal-ft button{
    margin-right: 20px;
    padding: 6px 15px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.3;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .1s;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    outline: none;
    border: 0px;
    border: 1px solid #C9C9C9;
}
.modal-ft button.ok{border-color:#25CAE8;color: #fff;background-color: #25CAE8;}
.modal-ft button.ok:hover{border-color:#69D4E7;color: #fff;background-color: #69D4E7;}
.modal-ft button.cancel{color: #292929;background-color: #f8f8f8;}
.modal-ft button.cancel:hover{color: #292929;background-color: #FFFFFF;}
.modal-bd input{
    margin-left: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.modal-bd input:focus{
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}
.modal-bd select{
    margin-left: 10px;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}
.menu-l-b{
    position: absolute;
    top: 386px;
    left: 40px;
    width: 330px;
    z-index: 99;
}
.menu-r-b{
    position: absolute;
    top: 386px;
    right: 40px;
    width: 300px;
    z-index: 99;
}
.menu-l-b .reportbtn{
    color: #fff;
    width: 65px;
    height: 50px;
    margin-left: 0px;
    margin-right: 20px;
}
.menu-l-b .reportbtn span,.menu-r-b .reportbtn span{
    width: 100%;
    font-size: 10px;
    margin-top: 33px;
    height: 22px;
    background: #000;
    color: #fff;
    line-height: 22px;
    opacity: .5;
}
.menu-l-b .reportbtn:hover span,.menu-r-b .reportbtn:hover span{
    opacity: 0.9;
    color: #fff;
    background: #333;
}
.menu-l-b .reportbtn11{
    margin-left: 65px;
}
.menu-l-b .reportbtn12{
    margin-left: 235px;
    margin-top: 12px;
}
.menu-r-b .reportbtn{
    color: #fff;
    width: 65px;
    height: 50px;
    margin: 0;
    margin-right: 80px;
}
.menu-r-b .reportbtn14{
    margin-right: 0px;
}
.menu-r-b .reportbtn15{
    margin-right: 0px;
    margin-left: 20px;
}
.menu-r-b .reportbtn16{
    margin-top: 12px;
}
.container-bottom .title{
    height: 60px;
    width: 300px;
    left: 60px;
    position: absolute;
    top: 77px;
    line-height: 60px;
    color: #CCCCCC;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 2px #8F8F8F;
}
.tip{
    display: none;
}
.tip.active{
    display: block;
}
.introjs-helperNumberLayer{
    top: 50%;
    margin-top: -10px;
}
.introjs-tooltip {
    color: #25CAE8;
}
.container-bottom .robot{
    display: none;
    position: absolute;
    top: -422px;
    right: -231px;
    width: 604px;
    height: 587px;
    background: url('../images/robot.png') no-repeat 0px 0px;
    z-index: 9;
}
.chartwrapper{
    display: none;
    height: 100%;
    width: 100%;
}
.chartwrapper.active{
    display: block;
}
.chartwrapper h5 {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}
.chartwrapper .highcharts-container{
    margin-top: 10px;
}
.operation{
    position: absolute;
    bottom: 20px;
    height: 55px;
    width: 100%;
    left: 0px;
}
.reportbtn {
    cursor: pointer;
    width: 45px;
    height: 45px;
    float: left;
    margin-left: 15px;
    font-size: 14px;
    padding-top: 10px;
    color: #05a;
}
.reportbtn span{
    text-align: center;
    display: block;
    width: 38px;
    height: 32px;
    overflow: hidden;
    font-weight: bold;
}
.reportbtn:hover span{
    color: #424242;
}
.reportbtn1{margin-left: 24px;}
.reportbtn2,.reportbtn6,.reportbtn7,.reportbtn8{color: #009C64;}
.reportbtn3{color:#9C1010;}
.reportbtn6{margin-left: 52px;}
.reportbtn8{margin-left: 10px;}