/* bootstrap样式 */
.btn {
    position: relative;
    padding: 4px 12px;
    margin: 0;
    /* color: #333; */
    /* text-shadow: 0 1px 0 #fff; */
    white-space: nowrap;
    font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
    /* font-weight: bold; */
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
    /* cursor: default; */
    /* background-color: #f3f3f3; */
	/*
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(to bottom,#f5f5f5,#f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff1f1f1',GradientType=0);
	*/
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    cursor: pointer;
}
.btn:hover,
.btn:active,
.btn.active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  color: #0e86fe;
  background-color: #fff;
  border-color: #0e86fe;
}
.btn-primary {
	/*
    border: 1px solid #3079ed;
    color: #ffffff;
    background-color: #4b8cf7;
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(to bottom,#4d90fe,#4787ed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe',endColorstr='#ff4787ed',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	*/
	border: 1px solid #0e86fe;
    color: #ffffff;
    background-color: #0e86fe;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid #49a9ee;
  color: #ffffff;
  background-color: #49a9ee;
}

.btn-danger {
	/*
    border: 1px solid #c6322a;
    color: #ffffff;
    background-color: #d84a38;
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#dd4b39),to(#d14836));
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(to bottom,#dd4b39,#d14836);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39',endColorstr='#ffd14836',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	*/
	color: #fff;
	background-color: #d73435;
	border-color: #d73435;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #f04134;
  border-color: #f04134;
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    /* color: #ffffff; */
    /* text-shadow: 0 1px rgba(0,0,0,0.1); */
}
body {
    margin: 0;
    font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

table {
    /* max-width: 100%; */
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #dddddd;
}
.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

/* input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
} */
.boot_checked{
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
.input_radius{
    border-radius: 4px;
}
.write_input{
    margin-left: 0;
    width: 206px;
    height:30px;
    line-height:30px;
}
button, input {
    line-height: normal;
}
/* button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
} */

.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.fade {
    opacity: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
.modal.fade.in {
    top: 8%;
}
.fade.in {
    opacity: 1;
}
.modal.fade {
    -webkit-transition: opacity .3s linear,top .3s ease-out;
    -moz-transition: opacity .3s linear,top .3s ease-out;
    -o-transition: opacity .3s linear,top .3s ease-out;
    transition: opacity .3s linear,top .3s ease-out;
    top: -25%;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.hide {
    display: none;
}
.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
}
.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 325px;
    padding: 15px;
}
.modal-header .close {
    margin-top: 2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    /* color: #000000; */
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
/* button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
} */
h5 {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
.pagination ul {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
.pagination ul > li {
    display: inline;
}
li {
    line-height: 20px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    margin-left: 0;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.pagination ul > .active > a, .pagination ul > .active > span {
    color: #4D90FE;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #FFFFFF;
    border-color: #dcdcdc;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}
.pagination ul > li > a, .pagination ul > li > span {
    background-color: #f3f3f3;
    border: 1px solid #dcdcdc;
    border-left-width: 0;
    color: #333333;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}
a {
    color: #0088cc;
    text-decoration: none;
}
.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}
.modal-footer:before, .modal-footer:after {
    display: table;
    content: "";
    line-height: 0;
}
.modal-footer:after {
    clear: both;
}

.modal-footer:before, .modal-footer:after {
    display: table;
    content: "";
    line-height: 0;
}
button.btn, input[type="submit"].btn {
}
input, button, select, textarea {
    font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
}
/* label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
} */
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
/* button, input {
    line-height: normal;
} */
/* button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
} */
/* input, button, select, textarea {
   font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
}
label, input, button, select, textarea {

} */
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
/* button, input {

} */
.boot_bist{
    margin: 0;
    vertical-align: middle;
    color: #393939;
    line-height: normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
    margin: 0;
    vertical-align: middle;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 400 13.3333px Arial;
    font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
}
.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
/* body, button, input, select, textarea {

} */
/* select {
    width: 220px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
} */
/* select, input[type="file"] {
    height: 30px!important;
    line-height: 30px;
} */
.boot_input{
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
    /* color: #555555; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
/* label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
} */
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
button, input, select, textarea {

}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.boot_select {
    width: 220px;
    border: 1px solid #aaa;
    /* background-color: #ffffff; */
    height: 30px!important;
    line-height: 30px;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    /* color: black; */
    /* background-color: white; */
    cursor: default;
    border-width: 1px;
    border-style: solid;
    /* border-color: initial; */
    border-image: initial;
}
/* input, textarea, select, button {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
    font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
} */

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

/*新加的*/
/* select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
} */
.l_b_text{
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
/* label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
} */
/* button, input {
    line-height: normal;
}
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
user agent stylesheet
input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 1px 0px;
}
user agent stylesheet
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
} */
/*一半*/
#queryTable{
    border-top:0;
}
