<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk">
		<title>定时任务</title>
		<link href="/static/js/antd/0.12.17/antd.css?v170621" rel="stylesheet">
		<link href="/static/js/antd/0.12.17/td.react.css" rel="stylesheet">
		<script src="/static/js/jquery-1.10.2/jquery.min.js"></script>
		<script src="/static/js/module.js"></script>
		<!--[if lt IE 10]>
		<script src="../libs/es5-shim.js"></script>
		<![endif]-->
	</head>

	<body>
		<div id="root"></div>
	<script type="text/javascript" src="/static/modules/appbuilder/appdesign/timer/vendor.js?b70b987547a8e1f21ea9"></script>
	<script type="text/javascript" src="/static/modules/appbuilder/appdesign/timer/bundle.js?b70b987547a8e1f21ea9"></script></body>

</html>
