html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
html{height:100%;}
ul, ol {list-style:none;}
.clear{ clear:both; overflow:hidden;}
.fr{float:right;}
.tac{text-align:center;}
body {
	text-transform:capitalize;
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: #dcdcdc;
}
.container{
	text-transform:capitalize;
	text-align: center;
	width: 100%;
	background-color: #dcdcdc;
}
.form_body {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
	border: 1px solid #c1c1c1;
	
}
.form_body textarea{
   overflow:auto;
   color:#cb110a;
}
.head_roun {
	height: 20px;
}

.round_l {
	background-image: url(../images/round_l.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 10px;
	margin-top: -1px;
	margin-left: -1px;
}
.round_r {
	background-image: url(../images/round_r.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 15px;
	width: 10px;
	margin-top: -1px;
	margin-right: -1px;
}
.head_er {
	height: 104px;
	width: 100%;
	background-image: url(../images/line_red.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #F3F3F3;
}
.title_h1 {
	height: 55px;
	font-family: "ËÎÌå", "Î¢ÈíÑÅºÚ";
	font-size: 40px;
	color: #cb110a;
	line-height: 55px;
	letter-spacing: 2px;
	font-weight: bold;
}
.situation_h1 {
	font-family: Arial, "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 13px;
	line-height: 18px;
	color: #cb110a;
	height: 18px;
	text-align: right;
	padding-right: 25px;
	overflow:hidden; 
	height:30px;
}
.situation_h1 span {
	padding-left: 5px;
}
.text_bule {
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 13px;
	color: #666666;
}
.text_red {
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 13px;
	color: #cb110a;
	float:left;
}
.cent_er {
	text-align: left;
	background-color: #F3F3F3;
}
.form_group {
}
.form_row {
	height: 44px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddded5;
	overflow:hidden;
}
.form_row_height {
	height: 102px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddded5;
}
.form_row_height1 {
	height: 150px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eaeaea;
	overflow:hidden;
	}
.text_li {
width:100%;
	float: left;
	line-height: 44px;
	height: 44px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddded5;
}
.text_li_gray{ 
   height:40px; 
   line-height:40px; 
   width:437px; 
}
.form_row_color {
	height: 44px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddded5;
	background-color: #eaeaea;
}

.text_gray {
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
	color: #666666;
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddded5;
	display: block;
	float: left;
	letter-spacing: 1px;
}
.text_stlye {
	float:left;
	text-align:left;
	display: block;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
    color: #cb110a;
	border: 0;
	line-height: 40px;
	height: 40px;
	background-color: #EAEAEA;
}
.text_stlyex {
	text-align:left;
	display: block;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
    color: #cb110a;
	border: 0;
	line-height: 40px;
	height: 40px;
	background-color: #EAEAEA;
}
.text_li .text_stlye1 {
	float: left;
	display: block;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
    color: #cb110a;
	border: 0;
	line-height: 40px;
	height: 40px;
;
}
.pselect
{ 
    float:left;
    padding:6px 0 0 10px;
	background-color: transparent;
	width:125px;
	height: 38px;
	line-height:24px;
	border-width:0px;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	background-repeat: no-repeat;
	background-position: right top;
}
.selectlist {
	width:90px;
	border-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	padding-left: 10px;
	line-height: 44px;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
	color: #cb110a;
	float:left;
}
.textarea_stlye {
	float: left;
	display: block;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
	color: #cb110a;
	border: 0;
	height: 100px;
	line-height: 21px;
	background-color: #F3F3F3;
	text-align:left;
}
.textarea_a{float: left;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
	color: #cb110a;
	height: 100px;
	line-height: 21px;
	width: 770px;
		padding-left: 5px;
		text-align:left;}
.textarea_a1{
     display:inline-block;
	float: left;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 14px;
	color: #cb110a;
    min-height:102px;
	height:auto !important;
	height: 102px;
	line-height: 21px;
	border-left:1px solid #ddded5;
	width: 770px;
		padding-left: 5px;
		text-align:left;}
.calendar{
	padding-top: 8px;
        float: left;
}

.text_li .sel {
	line-height: 44px;
	height: 44px;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
}

.se2 {
	line-height: 30px;
	height: 30px;
	text-align:left;
}
.ez-checkbox {
	position: relative;

  *top: 0;
	left: -3px;
}
/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	display:inline-block;
	background-color: transparent;
	background-image: url(../images/checkbox-red.png);
	background-repeat: no-repeat;
	background-position: 0 0px;
}

.gray-checkbox .ez-checkbox {
	background-image: url('../images/checkbox-gray.jpg');
}

.lightgray-checkbox .ez-checkbox {
	background-image: url('../images/checkbox-lightgray.png');
}

.ez-radio {
	background: transparent url('../images/radio-black.png') 0 1px no-repeat;
	display:inline-block;
}

.ez-checked { background-position: 0 -19px; }
.ez-selected { background-position: 0 -19px; }

.ez-checkbox-green {
	background: transparent url('../images/checkbox-green.png') 0 1px no-repeat;
	display:inline-block;
	*display: inline;
}
.ez-checked-green { background-position: 0 -18px; }
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; line-height: 0;}
.ez-checkbox {
	vertical-align: middle;
	width: 19px;
	height: 19px;
}
/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.foot_er {
	padding-top: 28px;
	padding-bottom:28px;
	background-color: #f3f3f3;
}
.button_next {
	height: 44px;
	width: 134px;
	margin-right: auto;
	margin-left: auto;
}
.button_next a {
	background-image: url(../images/button_bg.png);
	background-repeat: no-repeat;
	height: 44px;
	width: 134px;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå";
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 44px;
	display: block;
}
#text_stlye { 
   font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; 
   font-size: 14px; 
   color: #cb110a; 
   border: 0; 
   line-height: 40px; 
   height: 40px; 
 
   background:none; 
   float:left; 
}
#hong { 
   font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; 
   color: #cb110a;
   float:left;
   background:none; 
      line-height: 20px; 
   height: 20px; 
}
.form_body input{ background:none;font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; font-size: 14px; color: #cb110a; border:none;}
.websign{margin-top:10px;}
.websign input{  font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; font-size: 14px; color: #cb110a;border:1px solid #98a39d;border-top:1px solid #fff; border-left:1px solid #fff;}
.form_body textarea{ background:none; border:none; overflow:auto; font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå"; font-size: 14px; color: #cb110a; line-height:21px; text-align:left;}
.textarea_a textarea{ height:100%;}
.text_stlye table {margin-top:10px; margin-bottom:10px;}
.text_stlye table td{ text-align:center;color: #cb110a; }
.text_stlye a{color: #cb110a;}
.text_stlye  input{border:1px solid #98a39d;border-top:1px solid #fff; border-left:1px solid #fff; }
.text_stlye table input{ border:none;}
input,
input[type="text"],
textarea,
select{
	max-width:none;
}
