/* html{
    font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,'Arial Negreta', 'Arial Normal', 'Arial'!important;
} */
#feedback { font-size: 1.4em; }
.ui-selecting { background: #FECA40; }
.ui-selected { 
    background: #F39814;
    border-left: 1px solid #F39814!important;
}
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
.attendance-title {
    padding-left: 55px;
}
#center{
    width:1080px;
    height:500px;
    margin:0 auto;
}
#menuTop{
    width: 1360px;
    position: relative;
    height:80px;
    background:#f7f7f7;
    margin:0 auto;
}
#mr_select{
    width:334px;
    margin-top:30px;
    float:left;
    margin-left:24px;
}
#mr_back{
    /* width:134px; */
    margin-top:23px;
    float:right;
    margin-left:20px;
}
#timeChoice{
    width:46%;
    height:100%;
    float:left;
}
#occupyMark{
    height:100%;
    float:left;
    margin-left:40px;
}
.colorBox{
    float:left;
}
.whiteBox{
    width:30px;
    height:30px;
    background:#fff;
    float:left;
    margin-top:23px;
    border-radius:15px;
    box-shadow: 0px 2px 1px 0px #ccc;
}
.grayBox{
    width: 28px;
    height: 28px;
    background: #2cabe3;
    float: left;
    margin-top: 23px;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 1px 0px #ccc;
}
.color_box_title{
    display: inline-block;
    margin: 0 10px;
    margin-top: 28px;
    font-size:13px;
}
.timeBox{
    margin: 0 auto;
    margin-top:15px;
    width:202px;
    height:50px;
    position: relative;
}
#timeLeft{
    width: 30px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: -44px;
    top: 1px;
}
#timeRight{
    width: 30px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 189px;
    top: 1px;
}
#useTime{
    display: block;
    width:202px;
    height:21px;
    float:left;
    line-height:50px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    color:#393939;
}
.directionBtn{
    display: inline-block;
    line-height:50px;
    margin-left: 12px;
    color:#7bc7e9;
    font-size:30px!important;
}
#applyShowTab{
    width:900px;
    height:60px;
    float:left;
    margin-bottom:0px;
    border:1px solid #ddd;
    border-left:0;
}
.mr_time{
    display: inline-block;
    width:100%;
    text-align: center;
}
.mr_th{
    width:44px;
    height:60px;
    float:left;
    border-left:1px solid #ddd;
}
#applyShowTab th{
    padding:0;
}
#mr_title{
    margin-left:55px;
}
.mr_td_head{
    width:150px;
    height:50px;
}
.mr_td{
    width:44px;
    height:50px;
}
#mr_table{
    width:15%;
    height:60px;
    float:left;
}
#mr_table th{
    padding:0;
}
.td_info_box{
    width:100%;
}
.no_use{

}
.mr_box{
    height: 69px;
    border-bottom: 1px solid #fff;
    padding: 0px 10px;
}
.mr_small_box{
    width:44px;
    height:66px;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    float:left;
}
#mr_info_head{
    width:178px;
    height:60px;
    border:1px solid #ddd;
    border-right:0;
    text-align: center;
    line-height:60px;
}
.mr_info_content{
    width:178px;
    height:66px;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    
}
.mr_name{
    width:132px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:13px;
    display: inline-block;
    margin-top: 16px;
    font-family: "Microsoft YaHei"!important;
    cursor: pointer;
}
.device_box{
    width:100%;
    height:45px;
    background:red;
}
.mr_people_num{
    font-size: 5px;
    display: block;
}
.mr_device_box{
    float:left;
    vertical-align: middle;
}
.mr_device{
    width:18px;
    height:18px;
    float:left;
    padding:0 2px;
}
.device_img{
    width:18px;
    height:18px;
    vertical-align: baseline;
    padding:0 2px;
}
.more_device{
    cursor: default;
    position: relative;
}
.more_device_box{
    position: absolute;
    z-index:1000;
    background:#fff;
    border:1px solid #d9d9d9;
    left:10px;
    bottom:-32px;
    width:92px;
    max-height:220px;
    overflow-y: auto;
    padding: 5px 10px;
    border-radius: 4px;
}
.more_img_box{
    width:100%;
    height:40px;
    float:left;
    text-align: center;
    margin-bottom:4px;
}
.more_img_box img{
    width:24px;
    height:24px;
}
.more_title{
    font-size:12px;
    display: block;
}
.device_icon_font{
    font-size:18px!important;
    cursor: default;
    padding:0 2px;
}
.device_icon_font_more{
    display: block;
    font-size:20px!important;
    cursor: default;
}
.table-title li {
    height: 29px;
    float: left;
    font-family: Î¢ÈíÑÅºÚ, ËÎÌå;
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 29px;
    padding-left: 1px;
    margin-left: 1px;
    background-repeat: repeat;
    background-position: left top;
}
.table-title li span {
    height: 29px;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    background:#2cabe3!important;
}
.axis-x {
    height: 62px;
    width: 1081px;
    float: none;
    margin-top: 3px;
    margin-bottom:16px;
}
.axis-x div {
    color: white;
    float: left;
    height: 62px;
    line-height: 14px;
    text-align: center;
    width: 60px;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
    background: url(/static/images/meeting/images/book/axis_x_new.png) left top repeat-x scroll transparent;
}
#submitBtn{
    width:92px;
    height:34px;
    background:#d4d4d4;
    float:left;
    margin-left:30px;
    margin-top:23px;
    border-radius: 20px;
    text-align: center;
    line-height:32px;
    font-size:14px;
    color:#fff;
    cursor: pointer;
}
.btn_active{
    background:#2cabe3!important;
}
#returnBtn{
    width:92px;
    height:34px;
    background:#2cabe3;
    margin-right:20px;
    border-radius: 20px;
    text-align: center;
    line-height:32px;
    font-size:14px;
    color:#fff;
    cursor: pointer;
}
.triangle{
    position: absolute;
    left: -9px;
    top: 15px;
    background:url(/static/images/meeting/images/book/triangle.png);
    width:10px;
    height:14px;
}
#center-margin{
	width:1354px;
	margin:0 auto;
}
.calendar{
    width: 202px;
    filter: alpha(opacity=0);
    -moz-opacity:0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 12px;
    cursor: pointer;
    padding:0!important;
}
.mr_box_week {
    height: 69px;
    border-bottom: 1px solid #c3d5ff;
    line-height:69px;
}
.time_interval{
    display: block;
    height:31px;
    line-height: 31px;
}
.meetingroom_li{
    width: 152px;
    height:62px!important;
    margin-bottom:16px;
    line-height:62px!important;
    background:url(/static/images/meeting/images/book/mr.png)!important;
    text-align: center;
    border-radius: 6px;
}
.container{
    height:70px!important;
}
.week-booker{
    height:auto!important;
}
.week_span{
    display: inline-block;
    margin: 0;
    padding:0px 10px;
}
.search_box{
    float:left;
}
.search_handle{
    width:60px;
    height:20px;
    background:#fff;
    position: relative;
    left: 308px;
    top: 35px;
}
.search_handle_icon{
    position: absolute;
    left: 35px;
    color:#2cabe3;
    cursor: pointer;
}
#search_handle_box{
    width:346px;
    background:#fff;
    position: absolute;
    z-index:100000;
    top: 70px;
    right: 35px;
    border:1px solid #ccc;
    border-radius:4px;
}
.search_criteria_box{
    width:302px;
    float: left;
    margin-top:20px;
    margin-left: 22px;
}
.search_criteria_title{
    font-size:14px;
    color:#333;
    margin-right:20px;
}
.num_for{
    display: inline-block;
    width:11px;
    text-align: center
}
#people_num_min,#people_num_max{
    width:88px;
    height:18px;
}
#search_device_box{
    width: 214px;
    min-height: 28px;
    float: right;
}
.search_date{
    width:210px;
}
.start_time,.end_time{
    width:88px;
    height:18px;
}
.search_time_box{
    width:222px;
    float:right;
}
#advanced_search{
    display: block;
    width:84px;
    height:28px;
    background:#0c86fe;
    border-radius: 4px;
    margin: 0 auto;
    line-height: 28px;
    text-align: center;
    font-size:14px;
    color:#fff;
    margin-top: 6px;
    cursor: pointer;
    margin-bottom:20px;
}
.search_devices{
    width:28px;
    height:28px;
    float:left;
    text-align: center;
    line-height:28px;
    margin:4px;
    border:2px solid #fff;
}
.search_device_img{
    width:18px;
    height:18px;
    vertical-align: baseline;
    padding:0px 2px;
    padding-top:5px;
}
