*{margin-left:0px;margin-right:0px;padding:0px;}

#title{padding:5px}
#operation{text-align:center;}
#left{float:left;width:250px;padding-left:10px;padding-bottom:20px;}
#right{float:left;height:100%;padding-left:10px;}

#tree_container{
   /* width:100%; */
   /* padding:5px; */
   /* background:#ffffff; */
   /* border-left:1px #cccccc solid; */
   border-right:1px #cccccc solid;
   overflow:auto;
}
#search:hover{
   border:1px solid #99CC00;
   background: url('images/bg_input_text_hover.png') top left repeat-x;
}

#search input.SmallInput {font-size: 9pt; border:0px; color:#8896A0;width:90%;height:20px;padding:2px;background:none;}
#search input.SmallInput:hover {border:0px; color:#000000;}
#tree_container{
   width:100%;
   padding:5px;
   background:#ffffff;
   border-left:1px #cccccc solid;
   border-right:1px #cccccc solid;
   overflow:auto;
}

.controlbar-center{
	padding:0 0px;
	width:248px;
}

#search {
   margin:0px;
   border:1px solid #154B76;
   background: url('images/bg_input_text.png') top left repeat-x;
   padding-left:5px;
   width:100%;
}

#center{
   width:16px;
}

#right{
   height:100%;
   vertical-align:top;
}

#operation
{
    text-align:left;
    margin-bottom:5px;
}