html,body{
	height:100%;
}
.div_book{
	border-right: #006c90  1pt dashed;
	border-top: #006c90  1pt dashed;
	scrollbar-face-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	overflow:auto;
	border-left:#006c90  1pt dashed;
	scrollbar-shadow-color:#000000 ;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-arrow-color:#006c90;
	border-bottom: #006c90  1pt dashed;
	scrollbar-darkshadow-color: #ffffff;
	width:100%;
	height:90%;
	float:left;
}
.div_cans{
	border:1px solid;
	background:#fff;
	cursor:pointer;
}
.button2 
{ 
	border-right:1px solid buttonhighlight; 
	border-left:1px solid buttonshadow; 
	border-bottom:1px solid buttonhighlight; 
	border-top:1px solid buttonshadow;
} 
TD 
{ 
	cursor: hand; font-size: 9pt; font-family: ו; text-align: center; text-valign: middle 
} 
.handin 
{ 
	height:18px; 
	width:2px; 
	border-left:1px solid buttonshadow; 
	border-right:1px solid buttonhighlight;
} 
.handout 
{ 
	height:18px; 
	width:2px; 
	border-left:1px solid buttonhighlight; 
	border-right:1px solid buttonshadow; 
} 
.into 
{ 
	width:100%; 
	border-right:1px solid buttonhighlight; 
	border-left:1px solid buttonshadow; 
	border-bottom:1px solid buttonhighlight; 
	border-top:1px solid buttonshadow;
} 
.outto,.button1 
{ 
	background-color: buttonface; 
	background-repeat: repeat; 
	background-attachment: scroll; 
	border-left: 1px solid buttonhighlight; 
	border-right: 1px solid buttonshadow; 
	border-top: 1px solid buttonhighlight; 
	border-bottom: 1px solid buttonshadow; 
	background-position: 0%;
}
