*{padding:0px;margin:0px;}
body{
   margin:0px;
}

#left{
   width:188px;
   padding-left:10px;
   vertical-align:top;
   font-size:12px;
}

#left_top{
   width:188px;
}

.diary_icon{
   background:url('../10/images/diary.jpg') left center no-repeat;
}
.address_icon{
   background:url('../10/images/address.jpg') left center no-repeat;
}
.email_icon{
   background:url('../10/images/email.jpg') left center no-repeat;
}
.sms_icon{
   height:0px !important;
   padding-top:0px !important;
}

.BlockTop{
   width:178px;
}
.BlockTop .center{
   text-align:left;
   color:#383838;
}

.BlockBottom{
   width:178px;
}
.BlockBottom .center{
   text-align:left;
   color:#383838;
}


.head{
   width:171px !important;
   width:178px;
   padding-left:5px;
   border-top:1px #5b99ca solid;
   border-left:1px #5b99ca solid;
   border-right:1px #5b99ca solid;
   background:#9ac5e8;
}

.container{
   width:176px !important;
   width:178px;
   border-left:1px #5b99ca solid;
   border-right:1px #5b99ca solid;
   overflow-x:auto;
}
.container div.a{
   display:block;
   height:20px;
   line-height:20px;
   padding-left:18px;
   color:#393939;
   background:url('../10/images/dot.png') 5px center no-repeat;
}

.container .TableList{
   border:0px;
}

.container .TableList a{
   background:none;
}

.container .trHover{
   border:0px;
}
.container .trHover td.TableData,
.container .trHover .TableData td{
   border:0px;
   border-bottom:1px #cccccc solid;
   text-align:left;
   padding-left:21px;
   background-image:url('../10/images/dot.png');
   background-position: 8px center;
   background-repeat:no-repeat;
}

.treeList{
   width:166px !important;
   width:178px;
   padding:5px;
}

a.header{
   display:block;
   height:32px;
   line-height:32px;
   color:#383838 !important;
   font-size:12px !important;
   font-weight:bold;
   padding-left:21px;
   background: url("../10/images/ar.png") no-repeat 5px center;
}
a.header-active{
   background: url("../10/images/arrow_d.png") no-repeat 5px center;
}

#right{
   vertical-align:top;
   height:100%;
}
