<!DOCTYPE html>
<html>
  <head>
    <title>应用视图</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="renderer" content="ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 8]>
	<script src="/static/js/ietip.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-1.10.2/jquery.min.js"></script>
	<script src="/static/js/module.js"></script>
    <link href="/static/js/antd/0.12.17/antd.css" rel="stylesheet">
    <link href="/static/js/antd/0.12.17/td.react.css" rel="stylesheet">
  </head>

  <body>
    <div id="root"></div>
   <!--[if lt IE 10]>
	<script src="/static/js/es5-shim.js"></script>
   <![endif]-->
  <script type="text/javascript" src="/static/modules/appbuilder/appcenter/views/vendor.js?1eb5854f0003094961ec"></script>
  <script type="text/javascript" src="/static/modules/appbuilder/appcenter/views/bundle.js?1eb5854f0003094961ec"></script></body>
</html>
