*{padding: 0; margin: 0; }
html{overflow-x:hidden;overflow-y: scroll;}
body{background: #0d4a8b url('images/qymh-bg.png') no-repeat 0 0;color:#383838; margin:auto 30px; padding: 0px;}

/* other */
img {border: none; vertical-align: middle;}

a:link{color: #476074; text-decoration: none;}
a:visited {color: #476074; text-decoration: none;}
a:hover {color: #333333; text-decoration: underline;}
a:active {color: #333333; text-decoration: underline;}

ul {
	margin: 0;
	margin-left: 3px;
	padding: 0;
	line-height:20px;
}
ul li {
	margin: 0 0 0 0px;
	padding: 0px 0 0px 16px;
	list-style-type: none;
	line-height:20px;
   background:url('images/dot.png') 3px center no-repeat;
}

ol {
	margin-left: 25px;
}
ol li {
	list-style-type: decimal;
	line-height:20px;
}

li a:link{color: #383838; text-decoration: none;}
li a:visited {color: #383838; text-decoration: none;}
li a:hover {color: #0066cc; text-decoration: underline;}
li a:active {color: #0066cc; text-decoration: underline;}

img{
	border:0px;
	vertical-align:middle
}

#desktop_config{
   padding-top:5px;
}
#desktop_config img{
   cursor:pointer;
}
#overlay {display: none; z-index: 10000; height:100%;BACKGROUND: #000; filter: alpha(opacity=25);LEFT: 0px; POSITION: absolute; TOP: 0px; -moz-opacity:0.25;opacity:0.25;}

.dialogBlock {background: #FFFFFF;margin: 10px auto; clear: both; position: absolute; top: 100px;  z-index: 10002;}
.dialogBlock .menu {float: left; width: 120px;}
.dialogBlock .menu a {display: block; padding: 3px 10px; margin-bottom: 5px; color: #645A44; text-decoration: none; text-align: center; background: transparent; border: 1px solid white;}
.dialogBlock .menu a:hover {color: #395500; text-decoration: none !important; background: #F4FADF url('images/bg_input_btn_hover.png'); border-color: #99CC00; border-bottom-color: #80AA00; border-right-color: #80AA00;}
.dialogBlock .menu .current {border-color: #C8C4BB; border-bottom-color: #ABA498; border-right-color: #ABA498; background: #F4FBE1 url('images/bg_input_btn.png');}
.dialogBlock .subContent {float: right; width: 500px; color: #663300; border: 1px #b8d1e2 solid; background: white url('images/bg_input_text.png') top left repeat-x;}

.module {border: 1px #4786c6 solid; border-top:0px; padding: 0px;margin-bottom:10px;margin-right:10px;}
.module_right {border: 1px #4786c6 solid; border-top:0px; padding: 0px;margin-bottom:10px;}
.moduleHeader {color:#fff;padding-left:10px; font-size: 16px; overflow: hidden; font-weight: normal;height:35px;font-family:Microsoft YaHei;}
.expand_arrow{
float:left;
width:22px;
height:30px;
background:url("/static/images/expand_arrow_fation.png") no-repeat left center;
display: inline-block;
}
.collapse_arrow{
float:left;
width:22px;
height:30px;
background:url("/static/images/collapse_arrow_fation.png") no-repeat left center;
display: inline-block;
}
.moduleHeader .text {float: left; line-height:30px;cursor:pointer;}
.moduleHeader .title {float: left; font-weight: bold;line-height:30px;padding-left:10px;color:#000000}
.moduleHeader .option {padding: 2px 3px; float: right; cursor: pointer; text-decoration: none;}
.moduleHeader .close {padding: 2px 3px; float: right; cursor: pointer; text-decoration: none;display:none;}
.module_body {background: #FFFFFF;font-size: 9pt;margin: 0 !important; overflow-y: auto; padding: 5px 5px;}
.module_body .moduleType{clear:both;}
.module_body .moduleTypeLink{line-height:20px;height:20px;overflow:hidden;float:left;}
.module_body .moduleTypeLink a{color:#808080;}
.module_body .moduleTypeLink a.active{color:#FF0000;}
.module_body .moduleTypeOp{line-height:20px;float:right;display:none;}
.moduleFooter {background: #FFFFFF;padding: 2px; text-align: center; font-size: 12px; margin: 10px 0;}
.module_page{background: #FFFFFF;display:none;}
.module_div{background: #FFFFFF;overflow:hidden;clear:both;}
.PageLinkDisable{
   color:#a7bd74 !important;
}

.listColor {border: none;}
.listColorCollapsed {border-bottom: 1px #a7bd74 solid;}
.listColor hr {border-bottom: 1px #D6E4EF solid;}
.listColor .head {height:31px;}
.listColor .head a.nav{color:#383838;display:block;height:31px;line-height:30px;text-decoration:none;}
.listColor .body {background:url("images/module_head_bg_right.png") no-repeat left top;border-left:1px #4786c6 solid;border-right:1px #4786c6 solid;}
.listColor .body .moduleHeader {border: none;background:none;height:31px;}
.listColor .bright {color: #003366 !important;}

.module_nav {margin-bottom:0px;background:#fff;position:relative;}
.bottom_40{padding-bottom: 40px;}
.module_nav .head {background:url("images/nav_head_bg_left.png") no-repeat left top;}
.module_nav .head .moduleHeader {background:#885fb1 no-repeat top right;}
.module_nav .head .moduleHeader a{color:#fff;}
.module_nav .body {background:#885fb1 no-repeat left top;border-top:1px #fff solid;}
.module_nav .body .moduleHeader {border: none;background:none;height:31px;}
.module_nav .viewmore {position:absolute;bottom:0;line-height:40px;height:40px;padding:0 22px;right:0;background-color:#FFFFFF;}
.tip{position:fixed;z-index:10003;left:0;bottom:0px;width:100%;border:1px #a7bd74 solid;border-bottom:0px;background:#edf6db;line-height:30px;-moz-opacity:0.9;opacity:0.9;filter: alpha(opacity=90);}
#mytable_body{overflow-y:scroll;}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
	margin-left:0px;
	zoom:1; /* for IE6 IE7 */
}
#arraw li{
width:80px;
height:34px;
line-height:34px;
color:#fff;
float:left;
margin-right:2px;
text-align:center;
font-size:18px;
font-weight:bold;
font-family: Microsoft YaHei;
cursor: pointer;
padding:0px;
}
#arraw li.blue{background:#133e8f;}
#arraw li.orange{background:#E4A91C;}
#arraw li.green{background:#92D524;margin-right:0px;}
#arraw li.active{color:#2D6481;background:#fff;padding-bottom:2px;border-right:1px solid #fff}
.inner12{padding:12px;height:404px;overflow:hidden;}
.inner12 img{width:220px;}
.inner14{padding:12px;height:444px;overflow:hidden;}
.pencil{
width:16px;
height:16px;
zoom:1;
padding-left:0px;
background:url("/static/images/email_new.png") no-repeat left center;
display: inline-block;
}
a.all_more:link,a.all_more:visited,a.all_more:hover,a.all_more:active{
color:#fff;
text-indent:-999em;
background:url('/static/images/all_more.png') no-repeat left center;
*display:inline;
*zoom:1;
display: inline-block;
width:16px;
height:16px;
}
.ispirt_title{
width:90%;
height:40px;
font-size:32px;
line-height:40px;
margin-top:20px;
color:#FFFFFF;
font-weight:bold;
font-family:Microsoft YaHei;
}
a.email_edit:link,a.email_edit:visited,a.email_edit:hover,a.email_edit:active{
color:#fff;
text-indent:-999em;
background:url('/static/images/email_edit_fation.png') no-repeat left center;
*display:inline;
*zoom:1;
display: inline-block;
width:16px;
height:26px;
}

.msgHeader {color:#0064b0;padding-left:10px; font-size: 12pt; overflow: hidden; font-weight: normal;height:35px;font-family:Microsoft YaHei;}
.msgHeader .title {font-weight: bold;line-height:2em;}
.msgBody {background: #FFFFFF;font-size: 10px;margin: 0 !important; overflow-y: auto; padding:9px;font-family:"ו";}
.msgdiv{width: 49%;display: inline-block;line-height: 2em;*display:inline;*zoom:1;font-size: 10pt;}
.modulemsgHeader{background: #008ae7;color:#fff;padding-left:10px; font-size: 16px; overflow: hidden; font-weight: normal;font-weight: bold;line-height:2em;font-family:Microsoft YaHei;}

.modulemsgHeader .option {width: 10px;height: 10px;padding: 2px 3px;margin-top:8px; float: right; cursor: pointer; text-decoration: none;background: url('/static/images/close_msg.png') top left no-repeat;}
.modulemsgHeader .close {padding: 2px 3px; float: right; cursor: pointer; text-decoration: none;display:none;}

.msgButton{
font-size: 13px;
font-family:"ו";
color: #fff;
background: #008ae7;
border: 1px solid #6E91C7;
padding:5px 20px;
}
.flash-slider {position:absolute; top: 15px; left:0px;}