.lvt {
	background-color:#ccc;
	border:1px solid #ccc; 
}

.lvtBg {
}

.lvtHeaderText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
}

.lvtCol {
	border-top:1px solid #eaeaea;
	border-left:1px solid #eaeaea;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	background-color:#ccc;
	font-weight:bold;
}

.lvtColData {
	background-color:#ffffff;
}

.lvtColDataHover {
	background-color:#ffffee;
}