<!DOCTYPE html>
<html>
  <head>
    <title>子表单设置</title>
    <meta charset="utf-8">
    <link href="/static/js/antd/0.12.17/antd.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2/jquery.min.js"></script>
  </head>
 
  <body>
    <div id="root"></div>
  <script type="text/javascript" src="/static/modules/appbuilder/appdesign/appsubform/vendor.gbk.js?a6474ea1c2f23a6ee051"></script>
  <script type="text/javascript" src="/static/modules/appbuilder/appdesign/appsubform/bundle.gbk.js?a6474ea1c2f23a6ee051"></script></body>
</html>
