
#overlay {display: none; z-index: 10000; height:100%;BACKGROUND: #000; filter: alpha(opacity=20);LEFT: 0px; POSITION: absolute; TOP: 0px; -moz-opacity:0.2;opacity:0.2;}

.ModalDialog {border: 1px #fff solid; background: #FFF; padding:5px 10px;margin: 10px auto; clear: both; position: absolute;  z-index: 10000;display:none;border-radius: 3px;}
.ModalDialog1 {border: 1px solid rgba(0, 0, 0, 0.3);-webkit-border-radius: 6px;border-radius: 6px;outline: none;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);background: #fff; padding: 0px;margin: 10px auto; clear: both; position: absolute;  z-index: 10000;display:none;}
.header {border-bottom: 1px #DCDCDC solid; font-size: 12px; overflow: hidden; font-weight: normal; height:24px;}
.header .title {padding: 2px 3px;  float: left; font-weight: bold;line-height:20px;}
.header .operation {margin-top: -10px;padding-top: 8px;padding-right:5px; float: right; cursor: pointer; text-decoration: none;}
.body {font-size: 9pt;margin: 0 !important; overflow-y: auto; padding: 10px 5px;}
.footer {padding: 0; text-align: right; font-size: 12px; margin-bottom: 10px;}

input.BigButtonAHover{width:60px;height:24px;color:#FFFFFF;background:url("big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;background-position:0 -24px;}
input.BigButtonA{width:60px;height:24px;color:#FFFFFF;background:url("big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;}
input.BigButtonA:hover{background-position:0 -24px;}
