* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Î¢ÈíÑÅºÚ' !important;
    border: none;
    outline: none;
}

.list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: inherit;
    background-color: #FFFFFF;

}
.search_icon{
    color:#CCCCCC;
    display: inline-block;
   line-height: 26px;
   cursor: pointer;
}
.list_body_search {
    width: 155px;
    float: left;
    height: 26px;
    overflow: hidden;
    border-radius: 5px;
    background: inherit;
    background-color: #FFFFFF;
}
.omit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_title {
    width: 100%;
    height: 43px;
    position: relative;
    border-bottom: 1px solid #CCCCCC;
}
.list_title span {
    display: inline-block;
    margin-left: 40px;
    line-height: 44px;
}

.list_title span a {
    text-decoration: none;
    font-weight: 400;
    padding: 5px 10px;
    font-style: normal;
    font-size: 12px;
    border-radius: 15px;
    color: #0066FF;
}

.list_title span a:hover {
    color: #fff;
    background-color: #108EE9;
}

.list_title span a.active {
    color: #fff;
    background-color: #108EE9;
}

.list_title_icon {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 10px;
    top: 5px;
}

.list_title_text {
    font-weight: 700;
    font-style: normal;
    color: #666666;
    position: absolute;
    left: 55px;
    top: 12px;
}

.list_table {
    width: 100%;
    table-layout:fixed;
    border-collapse: collapse;
}

.list_table .list_table_header {
    width: 1055px;
    background: inherit;
    height: 36px;
    background-color: #d7d7d7;
    border: none;
    border-radius: 0px;
}

.list_table_row {
    width: 1055px;
    background: inherit;
    height: 38px;
    color: #666666;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0px;
}

.list_table_row span {
    font-size: 12px;
}

.table_personnel {
    width: 100px;
    text-align: center;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    font-style: normal;
}

.table_seance {
    width: 196px;
    text-align: center;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    font-style: normal;
}

.table_place {
    width: 190px;
    text-align: center;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    font-style: normal;
}

.table_Apply {
    width: 100px;
    font-size: 13px;
    text-align: center;
    color: #666666;
    font-weight: 400;
    font-style: normal;
}

.table_state {
    width: 110px;
    font-size: 13px;
    text-align: center;
    color: #666666;
    font-weight: 400;
    font-style: normal;
}
td,th{
 padding: 0 5px;
    font-size: 13px;
    color: #333;
    text-align: center;
    font-family: 'Î¢ÈíÑÅºÚ';
    font-weight: 400;
    font-style: normal;
}
.table_operation {
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.list_body {
    width: 90%;
    margin: 20px auto;
}

.list_apply {
    width: 76px;
    cursor: pointer;
    margin-bottom: 17px;
    height: 26px;
    display: block;
    float: left;
    line-height: 26px;
    text-align: center;
    background: inherit;
    background-color: #108EE9;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #3399FF;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    color: #FFFFFF;
}

.table_operation span {
    margin-right: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #2F80D1;
}
/*
.list_body_search {
    width: 155px;
    float: left;
    height: 26px;
    overflow: hidden;
    border-radius: 5px;
    background: inherit;
    background-color: rgb(255, 255, 255);

} */
.list_body_select {
    float: right;
    height: 26px;
    margin-right: 10px;
}
.keyword {
    width: 183px;
    float: right;
    height: 26px;
    background: inherit;
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    margin-bottom: 13px;
}
.list_body_search input {
    border-radius: 0;
    display: block;
    outline: none;
    text-indent: 5px;
    box-shadow: none;
    border: 0;
    height: 26px;
    width: 101%;
    margin-bottom:0;
    padding: 0;
}
.likeywordst_body_search i {
    width: 15%;
    height: 26px;
    display: block;
    float: right;
}

.keyword i img {
    width: 18px;
    height: 18px;
    display: block;
    cursor: pointer;
    margin-top: 3px;
}
.list_body_select select {
    width: 80px;
    border-color: #A9A9A9;
    border-style: solid;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #999999;
    border-width: 1px;
    height: 26px;
}

#page ul {
    float: right;
}

.cry_face_tab {
    height: 80px;
    border-bottom: 1px solid #CCCCCC;
}

.cry_face_tab td {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #666666;
    font-family: 'Î¢ÈíÑÅºÚ';
    font-weight: 400;
    font-style: normal;
}

.cry_face {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
.table thead tr th,
.table tbody tr td
{
    vertical-align: middle;
}
/* .table thead tr{
    background: #F4FAFF;
    color: #666;
    font-size: 14px;
    height: 50px;
}
.table tbody tr{
    height: 48px;
    color: #333;
} */
