body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td, img { margin:0; padding:0; border:none; }
ul, ol, dl, dt, dd { list-style:none; }
img { border:none; border:0; }
.clear { clear:both; height:0px; font-size:0px; }/*清除浮动*/
button[type="button"]{cursor:pointer;}

.nav-list li a i{ display:block; width:19px; height:22px; float:left;margin:12px 5px 0px 10px;}

.proj_sidebar { float: left; border-right:1px solid #ddd; }
.proj_sidebar .sidebar_logo { height: 150px; line-height: 150px; font-size: 92px; text-align: center; }
.sidebar_logo, .sidebar_content, .sidebar_buttons { width:182px; }
.sidebar_content .nav-list { width: 100%; padding: 0; margin-bottom: 0; }
.sidebar_content .nav-list li { position: relative; top: 0; left: 0; height: 44px; line-height:44px; width: 100%; border:none; border-bottom:#dcdcdc 1px solid; }
.sidebar_content .nav-list li.active { border-bottom:#d1e2ff 1px solid; }
.sidebar_content .nav-list li a:hover { background:none; border:none; }
.sidebar_content .nav-list li a { display: block; padding: 0; margin: 0; height:44px; position: absolute; color: #141414; width: 100%; overflow: hidden; }
.sidebar_content .nav-list li.active a { background-color: #d1e2ff; color: #141414; text-shadow: none; }
/* 
 .sidebar_content .nav-list > .active > a > [class*='icon-'] {
 color: #FF0000;
 text-shadow: none;
}
 */
.sidebar_buttons a { display: block; margin: 10px auto; border-radius: 4px; width: 160px; border: 1px solid #D4E8F0; text-decoration: none; text-align: center; color: #000000; height: 36px; line-height: 36px; background-color: #EDFAFF; }
.sidebar_buttons a:hover, .sidebar_buttons a.active { background-color: #FFFFFF; color: #FF0000; cursor: pointer; }
.sidebar_content .nav-list li.divider { background-color: #D4E8F0 !important; height:1px; }

.proj_navbar{height:62px; line-height:62px; color:#a4ca75; float:left; border-bottom:#ddd 1px solid;padding-right:20px;}
.proj_navbar img { float:right; margin-top:18px; }
.proj_navbar_header { background:url(../img/location_here.png) 10px center no-repeat; padding-left:25px; color:#777777; font-size:16px; float:left; }
.proj_navbar_header a { color:#777777; font-weight:bold; }
.proj_navbar_header a:hover { text-decoration:none; }
.proj_container { float:left; background:#ffffff; }
.sidebar_contentp { height:50px; margin:10px auto; border-bottom:#dcdcdc 1px solid; text-align:center; }
.thumbnail{ background-color:#27C1B9; color:#ffffff; }
.thumbnail.warning{ background-color:#F0AC00; color:#ffffff; }
.thumbnail.error{ background-color:#e87151; color:#ffffff; }
.ppfwr { font-weight:bold; font-size:13px; }
.ppimg { width:40px; height:32px; float:left; overflow:hidden;}
.ppimg img { margin-right:14px; }
.proj_content .thumbnails li.span3 { width:264px; margin-bottom:35px; }
a.thumbnail,a.thumbnail:hover,a.thumbnail:focus{ text-decoration:none;color:#fff;}
.proj_content .thumbnails li.span3 h2 { font-size:26px; }
.xjxm_xjxm_xg .btn-success:focus{box-shadow: 0px 0px 0px 0px rgb(255, 255, 255) inset;text-decoration: none;}
.h3title{float:left;width:168px; height:40px;overflow:hidden;}
.info-position{padding-top:10px;}
/*-----------------------------新建项目修改-------------------------------------------------*/
.xjxm_xjxm_xg {text-align:center;}
.plus{background:url(../img/proj_plus.png) no-repeat;}
.xjxm_xjxm_xg a{color:#fff;cursor:pointer; }
.xjxm_xjxm_xg a:hover{text-decoration:none;}
#notify_menu li a span{width:22px; height:22px;display:block; float:left; margin:10px 10px 0px 10px;}
.progress-1{ background:url(../img/proj_detail.png) no-repeat -44px 0px;}
li.active .progress-1{background:url(../img/proj_detail.png) no-repeat -66px 0px; }
.time-1{background:url(../img/proj_detail.png) no-repeat -88px 0px; }
li.active .time-1{background:url(../img/proj_detail.png) no-repeat -110px 0px; }
.money-1{background:url(../img/proj_detail.png) no-repeat -132px 0px; }
li.active .money-1{background:url(../img/proj_detail.png) no-repeat -154px 0px;}
.setting-1{background:url(../img/proj_detail.png) no-repeat -176px 0px;}
li.active .setting-1{background:url(../img/proj_detail.png) no-repeat -198px 0px;}
.search-1{ background:url(../img/proj_detail.png) no-repeat 0px 0px;}
li.active .search-1{background:url(../img/proj_detail.png) no-repeat -22px 0px;}
.paper-1{background:url(../img/proj_detail.png) no-repeat -220px 0px;}
li.active .paper-1{background:url(../img/proj_detail.png) no-repeat -242px 0px;}

.point-blue{width:18px; height:18px; background:url(../img/proj_point.png) no-repeat 0px 0px;display:block; float:left;}
.point-green{width:18px; height:18px; background:url(../img/proj_point.png) no-repeat -18px 0px;display:block; float:left;}
.point-grey{width:18px; height:18px; background:url(../img/proj_point.png) no-repeat -36px 0px;display:block; float:left;}
.point-grey-small{width:16px; height:15px; background:url(../img/proj_point.png) no-repeat -54px 0px;display:block; float:left;}
.point-red{width:18px; height:18px; background:url(../img/proj_point.png) no-repeat -70px 0px;display:block; float:left;}
.point-yellow{width:18px; height:18px; background:url(../img/proj_point.png) no-repeat -88px 0px;display:block; float:left;}


.hang-1{background:url(../img/proj_index.png) no-repeat -171px 0px;}
.active .hang-1{ background:url(../img/proj_index.png) no-repeat -191px 0px;}
.approve-1{background:url(../img/proj_index.png) no-repeat -38px 0px;}
.active .approve-1{ background:url(../img/proj_index.png) no-repeat -57px 0px;}
.doing-1{background:url(../img/proj_index.png) no-repeat 0px 0px;}
.active .doing-1{background:url(../img/proj_index.png) no-repeat -19px 0px;}
.doinging-1{background:url(../img/proj_index.png) no-repeat -76px 0px;}
.active .doinging-1{background:url(../img/proj_index.png) no-repeat -95px 0px;}
.done-1{background:url(../img/proj_index.png) no-repeat -114px 0px;}
.active .done-1{background:url(../img/proj_index.png) no-repeat -133px 0px;}
.hold-1{width:16px; height:20px; background:url(images/proj_index.png) no-repeat -96px 0px;}
.active .hold-1{width:16px; height:20px; background:url(images/proj_index.png) no-repeat -112px 0px;}
.search-1-1{background:url(../img/proj_index.png) no-repeat -152px 0px;}
.index_content{overflow:auto; padding:15px 0px 0px 15px;}
.proj_select_left{width:45%;height:285px;float:left;background:url(../img/tongda_body.png) 20px 5px no-repeat;}
.proj_select_left h3{ line-height:40px; padding:25px 15px 30px 60px;}
.proj_select_left p{ line-height:22px; padding:64px 15px 0px 215px;}
.proj_select_center{ width:19%; float:left; margin-top:33px; border-right:#bababa 1px solid;}
.proj_select_right{ width:35%; float:left;}
.proj_select_right h3{padding:25px 15px 11px 35px;}
.describe{width:200px; height:150px; margin-left:35px;}
.table-hover tr td{ height:30px;}

/*------------------------------------------------------------------------------*/
.new-container { width:900px;  border-bottom:#dbdbdb 1px solid;}
.new_leftbar{ width:162px; float:left; background:url(../img/newproj_img.png) -20px repeat-y;}
.new_leftbar ul { width:162px;color:#141414;overflow:auto; }
.new_leftbar ul li{ width:141px; padding-left:20px; height:48px; line-height:48px;cursor:pointer; border-bottom:#dcdcdc 1px solid;}
.new_leftbar ul li.active{background:#d1e2ff; color:#fff; border-bottom:none;}
.new_leftbar ul li p{width:22px; height:22px;float:left;margin:14px 5px 0px 0px;}
.proj_attribute-1{ background:url(../img/proj_new.png) no-repeat 0px 0px;}
.active .proj_attribute-1{ background:url(../img/proj_new.png) no-repeat -22px 0px;}
.proj_user-1{ background:url(../img/proj_new.png) no-repeat -44px 0px;}
.active .proj_user-1{ background:url(../img/proj_new.png) no-repeat -66px 0px;}
.proj_task-1{ background:url(../img/proj_new.png) no-repeat -88px 0px;}
.active .proj_task-1{ background:url(../img/proj_new.png) no-repeat -110px 0px;}
.proj_file_sort-1{background:url(../img/proj_new.png) no-repeat -132px 0px;}
.active .proj_file_sort-1{background:url(../img/proj_new.png) no-repeat -154px 0px;}
.proj_approve-1{ background:url(../img/proj_new.png) no-repeat -220px 0px;}
.active .proj_approve-1{ background:url(../img/proj_new.png) no-repeat -242px 0px;}
.proj_diy-1{ background:url(../img/proj_new.png) no-repeat -176px 0px;}
.active .proj_diy-1{ background:url(../img/proj_new.png) no-repeat -198px 0px;}

.new_content {float:left; }
.person_info{width:690px;height:37px;border-bottom:#d1e2ff 1px solid;padding:10px 0px 0px 0px;line-height:37px;margin:0px 10px 0px 15px;}
.person_info_p{color:#2881ab;font-weight:bolder; float:left; font-size:16px;}
.person_info a{float:right; height:25px; width:25px; display:block;}
.basic_info{width:675px; padding:0px 15px 0px 15px; overflow:auto;}
.new_content fieldset{overflow:hidden;}

.new_content-item-column{ width:922px; padding-top:45px; padding-left:50px; }
.new-content-info{ width:922px; height:37px; line-height:36px; color:#4e4e4e; background:url(../img/xmgl_02.jpg) repeat-x; }
.new-content-info span { display:block; border-bottom:#78b325 2px solid; height:35px; float:left; font-weight:bold; }
.new-content-include { width:922px; background:url(../img/xmgl_03.jpg) right repeat-y; padding-top:15px; }
.new-content-include legend { font-size:14px; font-weight:bold; color:#929292; }
.new-content-include input { width:320px; background:#f2fbff; }
.new-content-include fieldset { float:left; }
.new-content-include fieldset.xmgl_xmmc input { width:682px;}
.new-bottom { height:42px; padding:12px 12px 0px 0px;}
    

/****项目进度*****/
.xmjb{ width:100%;}
.xmjb_sidebar{ width:205px; background:url(../img/xmgl_07.jpg) repeat-y; float:left;}
.xmjb_sidebarpic1{ width:205px; text-align:center; padding-bottom:32px;}
.xmjb_sidebarul{ width:205px;}
.xmjb_sidebarul li{ width:205px; height:51px; cursor:pointer;}
.xmjb_sidebarul li.xmjb_sidebarulli{ background:#f2fbff; border-top:#e1e1e1 1px solid;border-bottom:#e1e1e1 1px solid;}
.xmjb_sidebarul li.xmjb_sidebarulli p{ color:#80b819;}
.xmjb_sidebarul li p span.dhon{ display:none;}
.xmjb_sidebarul li p span.dhoff{ display:inline;}
.xmjb_sidebarul li.xmjb_sidebarulli p span.dhon{ display:inline;}
.xmjb_sidebarul li.xmjb_sidebarulli p span.dhoff{ display:none;}
.xmjb_sidebarul li p{ padding:16px 0px 0px 23px; color:#82b51a;}
.xmjb_sidebarul li p img{ margin-right:5px;}
.xmjb_sidebarul li p{ color:#7c7c7c;}
.xmjb_sidebar_right{ float:left; background:#f2fbff;}
.rightbar_content{}
.rightbar_contentup{ height:42px; background:url(../img/xmgl_06.png) right center no-repeat;}
.rightbar_contentup p{ background:url(../img/gl_01.png) left center no-repeat; padding-left:24px; color:#80b819; font-size:16px; height:38px; line-height:38px; margin-left:12px;}
.rightbar_contents{ overflow:hidden;}
.right_bar_title{ color:#de4734;}
.rightbar_bottom{border-top:#bcbcbc 1px solid; padding:0px 5px 0px 6px;}
.rightbar_bottom_ld{ width:100%;float:left;background:#ffffff;overflow-x:auto;font-size:12px;}
.rightbar_bottom_lp{ float:left;width:90px;margin:8px 0px 0px 12px;color:#81b71b;font-size:16px;}
.rightbar_bottom_lp img{ margin:6px 5px 0px 0px; float:left;}

.rightbar_bottom_l{ width:24.2%; height:122px; float:left; background:#ffffff; overflow:hidden; margin-top:5px;}
.rightbar_bottom_l ul{  padding-left:12px; padding-top:8px;}
.rightbar_bottom_l ul li{ line-height:20px;}
.rightbar_bottom_l ul li span{ width:100%; color:#7a7d76;}
.rightbar_bottom_l ul li a{color:#7a7d76;}
.rightbar_bottom_l ul li div{width:90%;color:#7a7d76;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.rightbar_bottom_r{ width:24.5%; height:122px; float:left; border:#e1e1e1 1px solid; border-left:none;border-right:none; background:#ffffff; overflow:hidden;border-left:#dc4a33 5px solid; border-top:#dc4a33 1px solid;border-right:#dc4a33 1px solid; margin-top:5px;}
.rightbar_bottom_r ul{  padding-left:12px; padding-top:8px;}
.rightbar_bottom_r ul li{ line-height:20px;}
.rightbar_bottom_r ul li span{ width:100%;color:#7a7d76;}
.rightbar_bottom_r ul li a{color:#7a7d76;}
.rightbar_bottom_r ul li div{width:90%;color:#7a7d76;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.rightbar_more{float:right;text-align:right;width:60px;font-weight:bold;margin:8px 2px 0px 12px;}
.rightbar_more img{ margin-right:5px;}
.rightbar_more a{color:#717171; }
.rightbar_more a:hover{ text-decoration:none;}



.add_new_proj{display:block;padding:4px;line-height:20px;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.055);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.055);box-shadow:0 1px 3px rgba(0,0,0,0.055);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out; padding:45px 0px 40px;}
.add_new_proj h2{padding-top:47px;}
a.add_new_proj h2{background:url(../img/proj_add.png) top center no-repeat;color:#e1e1e1;}
a.add_new_proj:hover,a.add_new_proj:focus{border-color:#0088cc;-webkit-box-shadow:0 1px 4px rgba(0,105,214,0.25);-moz-box-shadow:0 1px 4px rgba(0,105,214,0.25);box-shadow:0 1px 4px rgba(0,105,214,0.25);}
a.add_new_proj:hover h2{color:#b1b1b1; background:url(../img/proj_add_hover.png) top center no-repeat;}
.add_new_proj > img{display:block;max-width:100%;margin-left:auto;margin-right:auto;}


/****时间管理*****/
.table_top td{font-size:15px;color:#d1e2ff;background-color:#d9edf7}
.time_table td{text-align:center;align:center;}
.time_table_top td{font-size:15px;color:#d1e2ff;background-color:#d9edf7}
.time_table_top span{position:relative;top:20px;}
.time_table_edit{width:16px; height:20px; background:url(../img/proj_index.png) no-repeat -16px 0px;display:block;float:left}

/****新建项目修改**吴郭臣***2013/09/18**/
.container-info{width:910px;}
.welcome{width:890px; height:68px; margin:0px auto; border-bottom: 1px solid #ddd;}
.welcome h3{ padding-left:15px; float:left; line-height:68px; color:#333;}
.welcome h5{line-height:40px;float:right;padding-right:15px;color:#535353;padding-top:20px;}
.table-hover tr td .checkbox{padding-left:6px;min-width: 155px;}
.table-hover tr td .checkbox b{width:15px;height:15px;float:left;display:block;padding-right:5px;}
.table-hover tr td .checkbox p{float:left;padding-left:21px;min-width:120px;}
.proj_content { padding:15px 0px 0px 0px}
.boder-one{border-left:#7eb519 5px solid; border-top:#a0c953 1px solid;}
.boder-two{border-left:#0f9a95 5px solid; border-top:#0f9c96 1px solid;}
.boder-three{border-left:#ce9c21 5px solid; border-top:#ce9c21 1px solid;}
.mancontent{padding:0px 10px;}
.new_step{width:162px; text-align:center;height:30px;color:#1582c5;background:#cccccc;padding-top:10px;}
/****新建项目修改**吴郭臣***2013/09/27**/
.new_button{ border-bottom:#dcdcdc 1px solid; text-align:center; padding:17px 0px 20px 0px;}
.new_button a{color:#fff;cursor:pointer; }
.new_button a:hover{text-decoration:none;}
.new_button .btn-success:focus{box-shadow: 0px 0px 0px 0px rgb(255, 255, 255) inset;text-decoration: none;}
.new_button span{ background:url(../img/proj_plus.png) no-repeat; padding-left:20px;}
.detail_destroy{background:url(../img/destroy_proj.png) no-repeat; padding-left:18px;}
.detail_revise{background:url(../img/pencil_proj.png) no-repeat; padding-left:18px;}
.assign_job{background:url(../img/assign_job.png) left center no-repeat; padding-left:18px;}
.finish_job{background:url(../img/finish_job.png) left center no-repeat; padding-left:18px;}
.proj_flow{background:url(../img/flow.png) left center no-repeat; padding-left:18px;}

.hang{background:url(../img/hang.png) left center no-repeat; padding-left:18px;}

.choose_person{background:url(../img/choose_person.png) left center no-repeat; padding-left:18px;}
.regain_proj_job{background:url(../img/regain_proj_job.png) left center no-repeat; padding-left:18px;}
.details_revise_p{width:120px; height:33px;float:right;}
.details_revise_p a{color:#fff;cursor:pointer; }
.details_revise_p a:hover{text-decoration:none;}
/****新建项目修改**吴郭臣***2013/10/13**/
.person_info_p span{margin:0px; height:22px; width:22px; margin-top:5px; display:block; float:left;}
.new_proj_span{background:url(../img/proj_new.png) no-repeat 0px 0px; }
.write_proj_span{background: url(../img/proj_new.png) no-repeat -44px 0px;}
.first_proj_span{background: url(../img/proj_new.png) no-repeat -88px 0px; }
.first_file_proj_span{background: url(../img/proj_new.png) no-repeat -132px 0px; }
.diy_proj_span{background: url(../img/proj_new.png) no-repeat -176px 0px; }
.approve_proj_span{background: url(../img/proj_new.png) no-repeat -220px 0px;}

