<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>我的应用</title>
    <script src="/static/js/module.js"></script>
    <link href="libs/antd.css?v170621" rel="stylesheet">
    <link rel="stylesheet" href="/static/common/iconfont/iconfont.css">
  </head>

  <body>
    <div id="root"></div>
    <div class="ajax-loading" id="ajaxLoading" style="display: none;">
      <div class="overlay"></div>
      <div class="loading">
        <span>加载中，请稍后...</span>
      </div>
    </div>
  <script type="text/javascript" src="vendor.js?cb774255a25d758ec4a4"></script><script type="text/javascript" src="bundle.js?cb774255a25d758ec4a4"></script></body>
</html>
