<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 8]>
	<script src="/static/js/ietip.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="renderer" content="ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/static/js/antd/0.12.17/antd.css" rel="stylesheet">
    <link href="/static/js/antd/0.12.17/td.react.css" rel="stylesheet">
    <link href="/static/js/colorPicker/colorPicker.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2/jquery.min.js"></script>
    <script src="/static/js/colorPicker/colorPicker.min.js"></script>
	<script src="/static/js/module.js"></script>
    <!--[if lt IE 10]>
		<script src="/static/js/es5-shim.js"></script>
	<![endif]-->
</head>

<body>
    <div id="root"></div>
    <script type="text/javascript" src="/static/modules/appbuilder/appcenter/appview/vendor.js?1483085185049"></script>
    <script type="text/javascript" src="/static/modules/appbuilder/appcenter/appview/bundle.js?1483085185050"></script>
</body>
</html>
