<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="renderer" content="ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>应用管理</title>
    <!--[if lt IE 8]>
	<script src="/static/js/ietip.js"></script>
    <![endif]-->
    <link href="/static/js/antd/0.12.17/antd.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.10.2/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="/static/js/module.js"></script>
  </head>
  <!--首页及二级页 author: 田林-->
  <body>
    <div id="root"></div>
    <!--[if lt IE 10]>
		<script src="/static/js/es5-shim.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/static/modules/appbuilder/appdesign/appinfo/vendor.js?20170818"></script>
    <script type="text/javascript" src="/static/modules/appbuilder/appdesign/appinfo/bundle.js?20170818"></script></body>
   <?=$app_info_all?>
	<style>	
		.one-form-modal {
			top: 50px!important;
		}
		.one-form-modal .ant-form-item{
			margin-bottom: 10px!important;
		}
	</style>
   </html>
