body{
    font-family: "Microsoft YaHei" !important;
}
#deviceManagement_tab{
    margin:0 auto;
}
.attendance-title{
    padding-left:55px;
}
.border_r{
    border-right:1px solid #d7d7d7;
}
#dm_seach_box{
    float:right;
    position: relative;
}
#dm_search_int{
    margin-bottom:0;
}
.search_icon_box{
    display:block;
    position: absolute;
    top: 1px;
    right:2px;
    width:28px;
    height:26px;
    cursor: pointer;
    background:#fff;
}
#search_icon{
    margin-top:5px;
    margin-left:8px;
}
#page{
    float:right;
    margin-right:1%;
}
.use_handle{
    color:#108EE9;
    cursor: pointer;
    margin-right:15px;
}
.del_explain{
    float:left;
    margin-left:30px;
    margin-top:5px;
    margin-right:5px;
}
#del_box{
    height:130px;
}
#DEL_DATE{
    width:189px;
}
.no_use{
    color:#a7a7a7;
}
#del_time_box,#last_time_box{
    width:400px;
    margin:0 auto;
    margin-top:26px;
}
.del_explain,.del_explain_last{
    float:left;
    margin-left:30px;
    margin-top:5px;
    margin-right:5px;
}
.del_explain_last{
    margin-top:0;
}
#del_time_box{
    margin-top: 30px;
}
.show_icon{
    width:24px;
    height:24px;
}
.more{
    cursor: default;
    position: relative;
}
.more_box{
    position: absolute;
    width:300px;
    left:10px;
    top:10px;
    background:#ddd;
    border-radius:5px;
    padding:2px 10px;
    z-index:100;
}
.device_icon_font{
    font-size:20px!important;
}
.cry_face{
    margin:0 5px;
}
.table thead tr th,
.table tbody tr td
{
    vertical-align: middle;
}
/* .table thead tr{
    background: #F4FAFF;
    color: #666;
    font-size: 14px;
    height: 50px;
}
.table tbody tr{
    height: 48px;
    color: #333;
} */