
.portals_container .portal span.icon_0
{
    background-image:url('icons/png8/0.png');
}
.portals_container .portal span.icon_1
{
    background-image:url('icons/png8/1.png');
}
.portals_container .portal span.icon_2
{
    background-image:url('icons/png8/2.png');
}
.portals_container .portal span.icon_3
{
    background-image:url('icons/png8/3.png');
}
.portals_container .portal span.icon_4
{
    background-image:url('icons/png8/4.png');
}
.portals_container .portal span.icon_5
{
    background-image:url('icons/png8/5.png');
}
.portals_container .portal span.icon_6
{
    background-image:url('icons/png8/6.png');
}
.portals_container .portal span.icon_7
{
    background-image:url('icons/png8/7.png');
}