
#overlay {display: none; z-index: 10000; height:100%;BACKGROUND: #000; filter: alpha(opacity=50);LEFT: 0px; POSITION: absolute; TOP: 0px; -moz-opacity:0.5;opacity:0.5;}

.ModalDialog {border: 1px #fff solid; background: #fff; padding: 5px 10px;margin: 10px auto; clear: both; position: absolute;  z-index: 10000;display:none;border-radius: 3px;}
.ModalDialog1 {border: 1px solid rgba(0, 0, 0, 0.3);-webkit-border-radius: 6px;border-radius: 6px;outline: none;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);background: #fff; padding: 0px;margin: 10px auto; clear: both; position: absolute;  z-index: 10000;display:none;}
.header {overflow: hidden; font-weight: normal; height:28px;}
.header .title {float:left;font-size: 16px;  font-weight: bold;line-height:28px;margin-left:10px;}
.header .operation {margin-top: -10px;padding-top: 8px;padding-right:5px; float: right; cursor: pointer; text-decoration: none;}
.body {font-size: 9pt;margin: 0 !important; overflow-y: auto; padding: 10px 5px;}
.footer {padding: 0; text-align: right; font-size: 12px; margin-bottom: 10px;}

input.BigButtonAHover{width:60px;height:30px;height:27px !important;padding-bottom:3px;color:#000000;background:url("images/big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;background-position:0 -30px;}
input.BigButtonA{width:60px;height:30px;height:27px !important;padding-bottom:3px;color:#36434E;background:url("images/big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;}
input.BigButtonA:hover{background-position:0 -30px;}
