body {font-size:9pt; margin: 0px; padding: 0px;}
/* other */
img {border: none; vertical-align: middle;}

a:link{color: #0066cc; text-decoration: none;}
a:visited{color: #0066cc; text-decoration: none;}
a:hover {color: #333333; text-decoration: underline;}
a:active{color: #0066cc; text-decoration: underline;}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
   border:1px #246191 solid;
   border-bottom:0px;
}

img{
   border:0px;
   width:16px;
   height:16px;
}

#body{
   width:100%;
   overflow-x:hidden;
   overflow-y:auto;
   clear:left;
   padding: 0px 4px 0px 4px;
}

.L1 a:link, .L1 a:visited{
   color: #444659;
   font-size:9pt;
   display: block;
   text-decoration: none;
   height: 24px;
   line-height: 24px;
   background: url("menu1_bg.png") repeat-x;
}

.L1 a:link span, .L1 a:visited span{
  background: url("ar.png") no-repeat center left;
  padding-left: 16px;
  height:24px;
  line-height:24px;
  vertical-align:middle;
  cursor:pointer;
  display:block;
   
}
.L1 a:hover{
   color: #000000;
   font-weight:bold;
   background:  url("menu1_bg.png") repeat-x;
   background-position: 0 -24px;
}
/*  一级菜单 active 效果  */
.L1 a.active, .L1 a:hover.active, .L1 a:active.active, .L1 a:visited.active{
   background:  url("menu1_bg.png") repeat-x;
   background-position: 0 -24px;
}
.L1 a:link.active span, .L1 a:hover.active span, .L1 a:active.active span, .L1 a:visited.active span{
   color: #000000;
   font-weight:bold;
   background: url("arrow_d.png") no-repeat left;
   background-position: 0 -1px;
   _background-position: 0 4px;
}

.moduleContainer{display:none;background:#F8F9FE;border-bottom:1px #7D95A5 solid;padding: 5px;}
.moduleContainer .blank{line-height:30px;padding-left: 5px;}
.module {margin-bottom:10px;position:relative;}
.module .detail{position:absolute;top:3px;right:25px;z-index:100;cursor:pointer;}
.module .header:link,
.module .header:hover,
.module .header:active,
.module .header:visited
{padding-left: 5px;line-height:25px;font-weight:normal;border-top:0 none;background-image:none;}
.module .module_body{border:1px solid #D8D8FE;word-wrap:break-word;word-break:break-all;background-color:#FFFFFF;line-height:16px;padding:5px;}

a.page:link,
a.page:hover,
a.page:active,
a.page:visited{display:inline;background:none;text-decoration:underline;font-weight:normal;}

.module_icon{height:17px;display:inline-block;background:transparent url("/static/images/ipanel/t-1.jpg") no-repeat 0 0;margin:0px 3px;padding-left:18px;}
.ichat{background-position:0px 0px;float:right;}
.idetail{background-position:0px -36px;float:right;}

.ichat_hover{background-position:0px -20px;float:right;}
.idetail_hover{background-position:0px -56px;float:right;}

table .ntd{width:80px;height:17px;}
.ctable{font-size:9pt;}
.hr{border-bottom:1px dotted #6086D9;margin:8px 0px;}
.nspan{color:#d6790e;width:80px;height:17px;}
.titlespan{color:#5b80d0;font-style:normal;}