*{padding:0px;margin:0px;}
html{
    overflow-x:hidden;
}
body{
   margin:0px;
   font-size:9pt;
   font-family:ו;
}

#tabs{
   padding:4px 4px 0px 4px;
}

#nav_menu {
   height:35px;
   font-size:12pt;
   background:url("nav_menu_bg.png") no-repeat;
}
#nav_menu li {
   display: inline;
   list-style-type: none;
}

#nav_menu a:link, #nav_menu a:visited {
   color:#000000;
   text-decoration: none;
   display:block;
   float:left;
   text-align:center;
   line-height:35px;
}
#nav_menu a:hover, #nav_menu a.active {
   color:#FFFFFF;
}
#menu_1{
   width:61px;
}
#menu_2{
   width:61px;
}
#menu_3{
   width:60px;
}
#menu_4{
   width:60px;
}

#menu_1:hover, #menu_1:link.active, #menu_1:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat top left;
}
#menu_2:hover, #menu_2:link.active, #menu_2:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat -61px 0px;
}
#menu_3:hover, #menu_3:link.active, #menu_3:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat -122px 0px;
}
#menu_4:hover, #menu_4:link.active, #menu_4:visited.active{
   color: #FFFFFF;
   background:url("nav_menu_active.png") no-repeat top right;
}

#expand_link{
   position:absolute;
   top:2px;
   right:30px;
}

.sub_tabs{
   height:26px;
   margin-left:4px;
   margin-right:4px;
   border-left:1px #3063A8 solid;
   border-right:1px #3063A8 solid;
   background:url("sub_tabs_bg.png") repeat-x;
   position:relative;
}
.hide{
   height:0px;
}
.sub_tabs ul {
   height:21px;
   margin-left:5px;
   overflow:hidden;
}

.sub_tabs li {
   display: inline;
   list-style-type: none;
}

.sub_tabs a:link, .sub_tabs a:visited{
   float:left;
	overflow:hidden;
	color:#FFFFFF;
	text-decoration: none;
   padding-left:4px;
}
.sub_tabs a:link span, .sub_tabs a:visited span{
   float:left;
   cursor:pointer;
	padding: 4px 8px 3px 4px;
}
.sub_tabs a.active, .sub_tabs a:hover,
.sub_tabs a:link.active, .sub_tabs a:hover.active, .sub_tabs a:active.active, .sub_tabs a:visited.active
{
	color:#003366;
	text-decoration: none;
   background: url('sub_nav_hover_l.png') no-repeat top left;
}
.sub_tabs a.active span, .sub_tabs a:hover span,
.sub_tabs a:link.active span, .sub_tabs a:hover span, .sub_tabs a:active.active span, .sub_tabs a:visited.active span
{
   background: url('sub_nav_hover_r.png') no-repeat top right;
}
.sub_tabs a:link span span.dropdown, .sub_tabs a:visited span span.dropdown{
   float:none;
   padding:0px !important;
   width:16px;
   height:12px;
   display:inline-block;
   background: url('sub_module_dropdown.png') center 2px no-repeat !important;
}
.sub_tabs a:active span span.dropdown, .sub_tabs a:hover span span.dropdown,
.sub_tabs a:link.active span span.dropdown, .sub_tabs a:hover span span.dropdown, .sub_tabs a:active.active span span.dropdown, .sub_tabs a:visited.active span span.dropdown{
   background: url('sub_module_dropdown.png') center -28px no-repeat !important;
}

.sub_menu{display:none;width:100px;border:#124164 1px solid;position:absolute;z-index:10001;background:#FFFFFF;}
.sub_menu a{display:block;line-height:20px;padding:3px 0 0 16px;}
.sub_menu a:hover{background-color:#E2E5E6;width:auto;text-decoration:none;}
.sub_menu a.active{
   background:url('dropdown_menu_checked.png') #E2E5E6 left center no-repeat;
}

.sub_tabs #my_fav{
    position:absolute;
    top:-1px;
    left:3px;
    display:block;
    width:110px;
    height:21px;
    text-decoration:none;
    color:#1191F5;
    background:url('/static/modules/my_fav/images/fav_1.png') left center no-repeat;
}
.sub_tabs #my_fav span{
    display:block;
    padding-left:23px;
    background:url('/static/modules/my_fav/images/3_hover.png') left center no-repeat;
}
.sub_tabs #menu_refresh,
.sub_tabs #org_refresh,
.sub_tabs #sms_refresh{
   width:16px;
   height:16px;
   display:block;
   position:absolute;
   top:2px;
   right:10px;
   cursor:pointer;
   background:url('refresh.png') center 0px;
   padding: 0;
}
.sub_tabs #menu_refresh:hover,
.sub_tabs #org_refresh:hover,
.sub_tabs #sms_refresh:hover{
   background:url('refresh.png') center -16px;
}

#panels_container{
}
#panels_container .panel{
    width:100%;
    height:100%;
    display:none;
}

#bottom{
   width:100%;
   height:0px;
}

#body{
   overflow-x:hidden;
   overflow-y:auto;
   clear:left;
}

.search{
   padding-left:26px;
   height:30px;
   background: url('/static/images/search_bg.png') left 0px no-repeat;
}
.search .search-body{
   padding-right:26px;
   background:transparent url('/static/images/search_bg.png') right -60px no-repeat;
   position:relative;
}
.search .search-body .search-input{
   background:transparent url('/static/images/search_bg.png') left -30px repeat-x;
}
.search .search-body .search-input input{
   width:100%;
   height:18px;
   margin-top:7px;
   border:0px;
   background:transparent;
   padding-left:0px;
}
.search .search-clear{
   position:absolute;
   top:0px;
   right:10px;
   width:16px;
   height:30px;
   background:transparent url('/static/images/search_bg.png') right -90px no-repeat;
   cursor:pointer;
}
