*{margin:0px;padding:0px;}
A:link{color: #000000; TEXT-DECORATION: none;}
A:visited {COLOR: #000000; TEXT-DECORATION: none}
A:active {COLOR: #3333ff; TEXT-DECORATION: none}
A:hover {COLOR: #ff0000; TEXT-DECORATION: none}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

img{
   border:0px;
   width:16px;
   height:16px;
}

#body{
   padding: 0px 4px 0px 4px;
}

#menu{
   border:1px #3063A8 solid;
   border-top:0px;
   border-bottom:none;
}

.U1 {
   background:  url("menu_u1_bg.png");
   border-bottom:1px #246191 solid;
}

.L1 a:link, .L1 a:visited{
   background:  url("menu1_bg.png");
   font-size:9pt;
   display: block;
   text-decoration: none;
   height: 24px;

}

.L1 a:link span, .L1 a:visited span{
  background: url("ar1.png") no-repeat right center;
  display:block;
  height:24px;
  line-height:24px;
  padding-left:5px;
  cursor:pointer;
  color: #000000;
  _height:18px;
  _padding-top:6px;
   
}
.L1 a:hover{
   color: #FFFFFF;
   font-weight:bold;
   background: url("menu1_bg.png");
   background-position: 0 -24px;
}
/*  一级菜单 active 效果  */
.L1 a:link.active, .L1 a:hover.active, .L1 a:active.active, .L1 a:visited.active{
   background: url("menu1_bg.png");
   background-position: 0 -24px;
   color: #FFFFFF;
}
.L1 a:link.active span, .L1 a:hover.active span, .L1 a:active.active span, .L1 a:visited.active span{
   color: #FFFFFF;
   font-weight:bold;
   background: url("arrow_d1.png") no-repeat right enter;
}
/* 一级菜单 图标 */
.L1 i{
   display: inline-block;
   *zoom: 1;
   width: 20px;
   height: 20px;
   vertical-align: middle;
   background-image: url('/static/images/menu/oa.gif');
   background-position:center center;
   background-repeat:no-repeat;
   margin-top: -1px;
   *margin-right: 5px;
}
.L1 a:hover i,
.L1 a.active i{
}

.L1 a i.mytable{
   background-image: url('/static/images/menu/mytable.gif');
}

.L1 a i.workflow{
   background-image: url('/static/images/menu/workflow.gif');
}

.L1 a i.erp{
   background-image: url('/static/images/menu/erp.gif');
}

.L1 a i.crm{
   background-image: url('/static/images/menu/crm.gif');
}

.L1 a i.tide{
   background-image: url('/static/images/menu/tide.gif');
}

.L1 a i.knowledge{
   background-image: url('/static/images/menu/knowledge.gif');
}

.L1 a i.portal{
   background-image: url('/static/images/menu/portal.gif');
}

.L1 a i.management_center{
   background-image: url('/static/images/menu/management_center.gif');
}

.L1 a i.hr{
   background-image: url('/static/images/menu/hr.gif');
}

.L1 a i.document{
   background-image: url('/static/images/menu/document.gif');
}

.L1 a i.roll_manage{
   background-image: url('/static/images/menu/roll_manage.gif');
}

.L1 a i.project{
   background-image: url('/static/images/menu/project.gif');
}

.L1 a i.reportshop{
   background-image: url('/static/images/menu/reportshop.gif');
}

.L1 a i.comm{
   background-image: url('/static/images/menu/comm.gif');
}

.L1 a i.info{
   background-image: url('/static/images/menu/info.gif');
}

.L1 a i.system{
   background-image: url('/static/images/menu/system.gif');
}

.L1 a i.oa_project{
   background-image: url('/static/images/menu/oa_project.gif');
}

.L1 a i.calendar{
   background-image: url('/static/images/menu/calendar.gif');
}

.L1 a i.@td_services{
   background-image: url('/static/images/menu/@td_services.gif');
}

.L1 a i.ext_data{
   background-image: url('/static/images/menu/ext_data.gif');
}


.L21 a:link, .L21 a:visited, .L22 a:link, .L22 a:visited, .L3 a:link, .L3 a:visited{
   color: #000000;
   background:  none;
   height: 24px;
   font-size:9pt;
   display: block;
   text-decoration: none;
   padding-left: 13px;
}

.L21 a:link span, .L21 a:visited span, .L22 a:link span, .L22 a:visited span, .L3 a:link span, .L3 a:visited span{
  display: block;
  height: 24px;
  line-height: 24px;
  padding-left:16px;
  _padding:6px 0px 0px 16px;
  padding-top:0px !important;
  background: url("ar.png") no-repeat left center;
  cursor:pointer;
}

.L22 a:link span, .L22 a:visited span{
  background:url('menu_dot.png') left center no-repeat;
}

.L3 a:link span, .L3 a:visited span{
  background:url('menu_dot.png') 10px center no-repeat;
}

.L21 a:hover, .L22 a:hover, .L3 a:hover{
   background: url("menu2_bg.png") no-repeat top left;
   font-weight:bold;
}
.L3 a:link span, .L3 a:visited span{
   padding-left:26px;
}

/*  二级菜单 active 效果  */
.L21 a:link.active, .L21 a:hover.active, .L21 a:active.active, .L21 a:visited.active{
   background: none;
}
.L21 a:link.active span, .L21 a:hover.active span, .L21 a:active.active span, .L21 a:visited.active span{
   color: #000000;
   font-weight:bold;
   background: url("arrow_d.png") no-repeat left center;
}

/*  二、三级菜单 active 效果  */
.L22 a:link.active, .L22 a:hover.active, .L22 a:active.active, .L22 a:visited.active,
.L3 a:link.active, .L3 a:hover.active, .L3 a:active.active, .L3 a:visited.active{
   background: url("menu2_bg.png") no-repeat;
   background-position: 0 -24px;
}
.L22 a:link.active span, .L22 a:hover.active span, .L22 a:active.active span, .L22 a:visited.active span,
.L3 a:link.active span, .L3 a:hover.active span, .L3 a:active.active span, .L3 a:visited.active span{
   color: #FFFFFF;
   font-weight:bold;
   background: none;
}

.Ls a:link, .Ls a:visited, .Ls a:hover, .Ls a:active{
   text-align:right;
   padding-top:4px;
   padding-right:4px;
   height:20px;
   font-size:9pt;
   text-decoration: underline;
   background:none;
}
.Ls a:hover, .Ls a:active{
   background:#E2E5E6;
   color:#000;
}
.setting:link, .setting:visited{
   text-decoration: underline;
   display:block;
}

#bottom{
   display:none;
}
#bottom_left{
}
#bottom_center{
}
#bottom_right{
}