*{
	padding:0px;
	margin:0px;
}
.clear{ 
	clear: both;
    height:1px;
    margin-top:-1px;
    overflow:hidden;
}
#search_logo{
	float:left;
   width:290px;
   height:88px;
   background:url('/static/images/search_logo.png') center center no-repeat;
}
#search_stat{
	text-align:left;
	margin:0px auto;
	font-size:13px;
	padding:10px 0px;
}
#search_stat .green{
	color:green;font-weight:bold;padding:0px 3px;
}
#search_area{
	margin:0px auto;
   width:800px;
   height:90px;
   text-align:center;
}
#search_area input.BigInput{
   height:20px;
   font-size:14px;
}
#search_stext{
	padding-top:20px;	
	text-align:left;
}
.result_item{
	margin:5px auto;
    padding:5px 10px  5px  10px;
   width:600px;
   font:normal normal 12px/1.8em "Arial";
   border:1px solid #fff;
}
.result_item a.item_title{
   height:20px;
   font-size:14px;
   font-weight:bold;
   text-decoration:none;
}
.result_item a.item_slice{
   line-height:16px;
   font-size:13px;
   padding:5px 0px;
}
#search_pages{
	margin:20px auto;
   width:600px;
   text-align:center;
   font-size:14px;
}
#search_pages span{
	height:20px;
	width:20px;
	display:block;
	line-height:20px;
	border:1px solid #0466CB;
	float:left;
	margin-right:5px;
}
#search_pages span.sp_current{
	font-weight:bold;
	background-color:#efefef;
}
#search_hotkey_list,#new_document_list{
	margin:0px auto;
	height:auto;
	margin:10px;
	font:normal normal 12px/1.5em "Arial";
}

#search_hotkey_list ul{
	list-style-type:none;
}
#new_document_list ul{
	list-style-type:none;
}
#new_document_list ul li{
	font-size:12px;
	height:30px;
	line-height:30px;
	padding:0px 10px;
	margin-left:5px;
	font-weight:bold;
	margin-top:5px;
	float:left;
    width:45%;
}

#search_hotkey_list ul li{
	font-size:12px;
	float:left;
	height:30px;
	line-height:30px;
	padding:0px 10px;
	margin-left:5px;
	font-weight:bold;
	background-color:#EFEFEF;
	margin-top:5px;
}

#search_hotkey_list ul li a{
	display:block;width:100%;height:30px;
	white-space:nowrap;
}

#new_document_list ul li a{
	display:block;height:30px;
}

.item_path{color:green;}
.highlight{color:Red;}

#search_bd{
	width:800px;
	margin:auto;
	height:auto;
}
#search_hot_ct{
	width:380px;
	height:auto;
	float:left;
	background-color:#FFFFFF;
}
.search_box_title{
	height:30px;line-height:30px;
	text-indent:20px;
	/* background-color:#C4DE83; */
	display:block;
	font-size:14px;font-weight:bold;
}
#search_tag_cloud{
	width:380px;
	height:350px;
	float:left;
}

#search_impkey_ct{
	width:370px;
	height:650px;
	float:right;
}
.TableList .TableHeader td{
    text-align:left;
}
#more_pages{
    text-align:right;
    font-size:14px;
}
#preview{
    display:none;
    position:absolute;
    top:100px;
    width:300px;
    height:200px;
    margin-left:706px;
    padding:10px 10px 10px 10px;
    background-color:#fff;
    box-shadow:0px 4px 16px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 4px 16px rgba(0, 0, 0, 0.2);
    border:1px solid #dddddd;

}
#preview_content{
    overflow:auto;
}
.backcolor{
    background-color:#EBF2FC;
    border-color:#dddddd;
}
.backpic{

    background-image:url("/static/images/cursor.png");
    background-repeat:no-repeat; 
}
.openarticle{
    width:90%;
    height:auto;
    cursor:hand;
    padding:10px 10px 10px 10px;

}
#preview_left{
    position:absolute;
    margin-left:691px;
    width:40px;
    height:50px;
    top:100px;
    display:none;
}

body{background: url('bg.jpg') -200px -83px;background-attachment:fixed;font-size:9pt;}
form{padding:0px;margin:0px;}
a:link{color: #0066cc; text-decoration: none;}
a:visited {color: #0066cc; text-decoration: none}
a:hover {color: #333333; text-decoration: underline}
a:active {color: #333333; text-decoration: underline}

A.A1:link { COLOR: #003366; TEXT-DECORATION: underline;}
A.A1:visited { COLOR: #003366; TEXT-DECORATION: underline}
A.A1:active  { COLOR: #124164; TEXT-DECORATION: underline}
A.A1:hover   { COLOR: #124164; TEXT-DECORATION: underline}

A.orgAdd:link, A.orgAdd:visited{
   color:#207BD6;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px 0px;
}
A.orgAdd:hover, A.orgAdd:active{
   color:#207BD6;
   text-decoration: underline;
}

A.orgClear:link, A.orgClear:visited{
   color:#9AA9B8;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px -60px;
   margin-left:5px;
}
A.orgClear:hover, A.orgClear:active{
   color:#207BD6;
   background-position:0px -40px;
   text-decoration: underline;
}

a.addfile {
   display:inline-block;
   position:relative;
   color:#207BD6;
   text-decoration:none;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px 7px;
}
a.addfile:hover {
   color:#9AA9B8;
   text-decoration:underline;
   background-position:0px -13px;
}
input.addfile {
   cursor:pointer;
   left:-5px;
   opacity:0;
   filter:alpha(opacity=0);
   position:absolute;
   width:1px;
}
a.selfile:link, a.selfile:visited {
   color:#207BD6;
   text-decoration:none;
}
a.selfile:hover, a.selfile:active {
   color:#9AA9B8;
   text-decoration:underline;
}

a.addimage {
   display:inline-block;
   position:relative;
   color:#207BD6;
   text-decoration:none;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px 4px;
}
a.addimage:hover {
   color:#9AA9B8;
   text-decoration:underline;
   background-position:0px -16px;
}

a.dropdown:link,
a.dropdown:hover,
a.dropdown:active,
a.dropdown:visited {
   text-align:right;
   padding-right:16px;
   text-decoration:none;
   background:url("/static/images/menu_arrow_down.gif") right center no-repeat;
}

a.ToolBtn{
   display:inline-block;
   padding-left:5px;
   text-decoration:none !important;
   background:url("tool_btn.png") left 0px no-repeat;
}
a.ToolBtn span{
   display:inline-block;
   padding:0px 13px 0px 8px;
   height:21px;
   line-height:21px;
   color:#36434E !important;
   background:url("tool_btn.png") right -42px no-repeat;
   cursor:pointer;
}
a.ToolBtn:hover,
a.ToolBtn-active{
   background-position:left -21px;
}
a.ToolBtn:hover span,
a.ToolBtn-active span{
   color:#000 !important;
   background-position:right -63px;
}

a.ToolBtn2{
   display:inline-block;
   text-decoration:none !important;
   background:url("big_btn_bg.png") left -1px repeat-x;
   font-size:12px;
   font-weight:bold;
   border:1px #91a9bd solid;
}
a.ToolBtn2 span{
   display:inline-block;
   padding:0px 10px;
   height:34px;
   line-height:34px;
   color:#36434E !important;
   cursor:pointer;
}
a.ToolBtn2:hover{
   background-position:left -39px;
}
a.ToolBtn2:hover span{
   color:#000 !important;
}

a.BigBtn{
   display:inline-block;
   padding-left:5px;
   text-decoration:none !important;
   background:url("tool_btn.png") left 0px no-repeat;
}
a.BigBtn span{
   display:inline-block;
   padding:0px 13px 0px 8px;
   height:21px;
   line-height:21px;
   color:#36434E !important;
   background:url("tool_btn.png") right -42px no-repeat;
   cursor:pointer;
}
a.BigBtn:hover{
   background-position:left -21px;
}
a.BigBtn:hover span{
   color:#000 !important;
   background-position:right -63px;
}

img{border:0px;}
table{border-collapse:collapse;}
.loginbodycolor { BACKGROUND: #6BA2D8}
.topbar {font-size: 9pt;BACKGROUND: #C4D9EF;background-image: url("topbar.gif")}

.panel{ BACKGROUND: #C4D9EF; COLOR:#654125;}
.timebar{ BACKGROUND: #CEDFF1;}



.small  { font-size: 9pt;}
.small1  { font-size: 9pt;COLOR: #000000;}
.big { font-size: 12pt;}
.big1   { font-size: 12pt;COLOR: #000000;}
.big2   { font-size: 18pt}
.big3   { font-size: 12pt;COLOR: #124164;FONT-WEIGHT: bold;}
.big4   { COLOR: #FF0000;}
.verybig{ font-size: 24pt}

.ArrowButtonL{width:20px;height:16px;background: url('/static/images/previouspage.gif') center center no-repeat;}
.ArrowButtonR{width:20px;height:16px;background: url('/static/images/nextpage.gif') center center no-repeat;}
.ArrowButtonLL{width:20px;height:16px;background: url('/static/images/prevpreviouspage.png') center center no-repeat;}
.ArrowButtonRR{width:20px;height:16px;background: url('/static/images/nextnextpage.png') center center no-repeat;}

<!--
input.SmallButton, input.ArrowButton {FONT-SIZE: 9pt;height: 20px; text-decoration: none;  border: 1px solid #6E91C7; background: #F4FBE1 url('button_bg.gif');}
input.SmallButton:hover, input.ArrowButton:hover {FONT-SIZE: 9pt;color: #395500; background: #F4FADF url('bg_input_btn_hover.png'); border: 1px solid #80AA00; border-top: 1px solid #99CC00; border-left: 1px solid #99CC00;}

input.BigButton {FONT-SIZE: 12pt; margin: 1px; height: 24px; text-decoration: none;  border: 1px solid #6E91C7; background: #F4FBE1 url('button_bg.gif');}
input.BigButton:hover {FONT-SIZE: 12pt;color: #395500; background: #F4FADF url('bg_input_btn_hover.png'); border: 1px solid #80AA00; border-top: 1px solid #99CC00; border-left: 1px solid #99CC00;}
-->

input.SmallButtonAHover{width:50px;height:21px;color:#000000;background:url("btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonA{width:50px;height:21px;color:#36434E;background:url("btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonA:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonBHover{width:74px;height:21px;color:#000000;background:url("btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonB{width:74px;height:21px;color:#36434E;background:url("btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonB:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonCHover{width:105px;height:21px;color:#000000;background:url("btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonC{width:105px;height:21px;color:#36434E;background:url("btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonC:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonDHover{width:160px;height:21px;color:#000000;background:url("btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonD{width:160px;height:21px;color:#36434E;background:url("btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonD:hover{background-position:0 -21px;font-size:12px;}

input.SmallButtonEHover{width:245px;height:21px;color:#000000;background:url("btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:12px;background-position:0 -21px;}
input.SmallButtonE{width:245px;height:21px;color:#36434E;background:url("btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.SmallButtonE:hover{background-position:0 -21px;font-size:12px;}

input.BigButtonAHover{width:60px;height:24px;color:#000000;background:url("big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonA{width:60px;height:24px;color:#36434E;background:url("big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonA:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonBHover{width:84px;height:24px;color:#000000;background:url("big_btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonB{width:84px;height:24px;color:#36434E;background:url("big_btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonB:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonCHover{width:125px;height:24px;color:#000000;background:url("big_btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonC{width:125px;height:24px;color:#36434E;background:url("big_btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonC:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonDHover{width:195px;height:24px;color:#000000;background:url("big_btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonD{width:195px;height:24px;color:#36434E;background:url("big_btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonD:hover{background-position:0 -24px;font-size:13px;}

input.BigButtonEHover{width:305px;height:24px;color:#000000;background:url("big_btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:13px;background-position:0 -24px;}
input.BigButtonE{width:305px;height:24px;color:#36434E;background:url("big_btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:13px;}
input.BigButtonE:hover{background-position:0 -24px;font-size:13px;}

input.BigInput,textarea.BigInput {font-size: 10pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: white url('bg_input_text.png') top left repeat-x; background-position:0 -1px;}
input.BigInput:hover,textarea.BigInput:hover {font-size: 10pt;border: 1px solid #99CC00; background: white url('bg_input_text_hover.png') top left repeat-x;}

input.SmallInput,textarea.SmallInput {font-size: 9pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: white url('bg_input_text.png') top left repeat-x; background-position:0 -1px;}
input.SmallInput:hover,textarea.SmallInput:hover {font-size: 9pt;border: 1px solid #99CC00; background: white url('bg_input_text_hover.png') top left repeat-x;}

input.BigInputMoney{COLOR:#006; BACKGROUND: #F8F8F8; text-align: RIGHT; border:solid 1px black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}

input.BigStatic,textarea.BigStatic {font-size: 10pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: #E0E0E0;}

input.SmallStatic,textarea.SmallStatic {font-size: 9pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: #E0E0E0;}

select.BigSelect  { COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('bg_input_text.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.BigSelect:hover  { COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('bg_input_text_hover.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}

select.SmallSelect{ COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('bg_input_text.png') top left repeat-x; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}
select.SmallSelect:hover{ COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('bg_input_text_hover.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}

select.BigStatic  { COLOR: #000066; BACKGROUND: #E0E0E0; border:solid 1px black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.SmallStatic{ COLOR: #000066; BACKGROUND: #E0E0E0; border:solid 1px black; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}

.TableControl{ background:url('table_footer_bg.png');}
.TableHeader { FONT-WEIGHT: bold; FONT-SIZE: 9pt; background:url("list_hd_bg.png"); line-height:21px;}
.TableHeader1 { background-image: url("button_back.gif");  cursor:pointer; COLOR: #000066;}
.TableHeader2 { background-image: url("menubg.gif");  cursor:pointer; COLOR: #000066;FONT-WEIGHT: bold;}
.TableContent{ background:url('table_content_bg.png');}
.TableData   { background:#ffffff;;COLOR:#000000;}
.TableLine1  { background:#f8f8f8;}
.TableLine2  { background:#ffffff;}
.TableRed{background:#FFEBEB;}
.TextColor1  { COLOR: #FF6600;}
.TextColor2  { COLOR: #FF0000;}
.TextColor3  { COLOR: #808080;}
.top{ COLOR: #FF0000;font-weight:bold;}

.percent { height: 12px; border: 1px solid #666666; float: left; padding: 0px;margin-top:3px;}
.percent div {height: 8px;font-size: 0px;margin: 1px;float:left;background-color:#00FF40;}
.percenttxt {float:left;font-size: 9pt;margin-top:1px;}
.s_on{background:url(/static/images/topmenubg2.gif);font-size: 9pt;}
.s_of{background:url(/static/images/topmenubg1.gif);font-size: 9pt;}
.m_on{background:url(/static/images/topmenubg2.gif);font-size: 9pt;}
.border14-1 {border: solid 1px #2E2E5A;font-size: 14px;}/* 表格外框 */
.border14-2 {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #2E2E5A;border-right-width: 1px;border-right-style: solid;border-right-color: #2E2E5A;font-size: 14px;}/* 表格边框右面 */
.border14-3 {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #98BBD6;font-size: 14px;border-top-style: none;border-right-style: none;border-left-style: none;}/* 表格边框底面 */
.border14-4 {border-right-width: 1px;border-right-style: solid;border-right-color: #98BBD6;font-size: 14px;}/* 表格边框左面 */
.title_text {  font-size: 14px; font-weight: bold; color: #0A5FA2; }
.table_border {  border-color: #98BBD6 #98BBD6 black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.table_bg {  background-attachment: fixed; background-image: url("bg_header.png"); background-repeat: repeat; background-position: left; border-color: #2E2E5A black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}


.attach_name:link,.attach_name:hover,.attach_name:active,.attach_name:visited{color:#0d3a73;}
.attach_div{display:none;width:110px;border:#83ACCF 1px solid;position:absolute;padding:0px;z-index:10001;background:#FFFFFF;}
.attach_div a{display:block !important;padding:0px 10px;height:25px;line-height:25px;text-decoration:none;}
.attach_div a:hover{background:#D6E4EF;text-decoration:none;}

.PageHeader{
   padding-top:7px;
}
.PageHeader .title{
   float:left;
   margin-top:8px;
   margin-right:20px;
   font-size:14px;
   font-weight:bold;
}
.PageHeader .header-left{
   float:left;
}
.PageHeader .header-right{
   float:right;
}

.BlockTop{
   font-size:12px;
   border:1px #124164 solid;
   color:#fff;
}
.BlockTop td{
   line-height:25px;
   font-weight:bold;
   text-align:center;
   background:url('list_hd_bg.png') left top repeat-x;
}
.BlockTop td.left{
   width:5px;
}
.BlockTop td.center{
}
.BlockTop td.right{
   width:5px;
}

.BlockTopInactive,
.BlockBottomInactive{
   font-size:12px;
   border:1px #124164 solid;
}
.BlockTopInactive td,
.BlockBottomInactive td{
   line-height:25px;
   font-weight:bold;
   text-align:center;
   background:#fff;
}
.BlockTopInactive td.left,
.BlockBottomInactive td.left{
   width:5px;
}
.BlockTopInactive td.center,
.BlockBottomInactive td.center{
}
.BlockTopInactive td.right,
.BlockBottomInactive td.right{
   width:5px;
}

.BlockBottom{
   font-size:12px;
   border:1px #124164 solid;
   color:#fff;
}
.BlockBottom td{
   line-height:25px;
   font-weight:bold;
   text-align:center;
   background:url('list_hd_bg.png') left top repeat-x;
}
.BlockBottom td.left{
   width:5px;
}
.BlockBottom td.center{
}
.BlockBottom td.right{
   width:5px;
}

.TableTop{
   clear:both !important;
   font-size:12px;
   border:1px #3063a8 solid;
   color:#fff;
}
.TableTop td{
   line-height:25px;
   font-weight:bold;
   background:url('list_hd_bg.png') left top repeat-x;
}
.TableTop td.left{
   width:5px;
}
.TableTop td.center{
}
.TableTop td.right{
   width:5px;
}

/*  列表型表格样式  */
.TableList{
   border:1px #3063a8 solid;
   line-height:25px;
   font-size:9pt;
   border-collapse:collapse;
}
.TableList td{
}
.TableList .TableHeader td,
.TableList td.TableHeader{
   background:url("list_hd_bg.png");
   border-right:1px #cddcec solid;
   border-bottom:1px #4487d2 solid;
   font-weight:bold;
   text-align:center;
   color:#FFFFFF;
}
.TableList .TableLine1 td,
.TableList td.TableLine1{
   background:#f8f8f8;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableLine2 td,
.TableList td.TableLine2{
   background:#ffffff;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableData td,
.TableList td.TableData{
   background:#ffffff;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableContent td,
.TableList td.TableContent{
   background:#cbe1f5;
   border-bottom:1px #dcdcdc solid;
}
.TableList .TableFooter td,
.TableList .TableControl td,
.TableList td.TableFooter,
.TableList td.TableControl{
   background:url('table_footer_bg.png');
   border-top:1px #dcdcdc solid;
}
.TableList .TableRed td,
.TableList td.TableRed
{
   background:#FFEBEB;
}
.TableList .TextColor1 td,
.TableList td.TextColor1
{
   COLOR: #FF6600;
}
.TableList .TextColor2 td,
.TableList td.TextColor2
{
   COLOR: #FF0000;
}

.TableList .TableLeft td,
.TableList td.TableLeft{
   background:#cbe1f5;
   border-bottom:1px #dcdcdc solid;
}

.TableList .TableRowHover td,
.TableList td.TableRowHover
{
   background:#ebf2f9;
}

.TableList .TableRowActive td,
.TableList td.TableRowActive
{
   background:#d8e5f1;
}

/*  block型表格样式  */
.TableBlock{
   border:1px #124164 solid;
   line-height:25px;
   font-size:9pt;
   border-collapse:collapse;
}
.TableBlock td{
   color:#000000;
}
.TableBlock .TableHeader td,
.TableBlock td.TableHeader{
   background:url("block_hd_bg.png");
   border:1px #124164 solid;
   font-weight:bold;
   padding-left:5px;
   color:#FFFFFF;
}
.TableBlock .TableLine1 td,
.TableBlock td.TableLine1{
   background:#f8f8f8;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableLine2 td,
.TableBlock td.TableLine2{
   background:#ffffff;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableData td,
.TableBlock td.TableData{
   background:#ffffff;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableContent td,
.TableBlock td.TableContent{
   background:#cbe1f5;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableFooter td,
.TableBlock .TableControl td,
.TableBlock td.TableFooter,
.TableBlock td.TableControl{
   background:url('table_footer_bg.png');
   border:1px #606275 solid;
}
.TableBlock .TableRed td,
.TableBlock td.TableRed
{
   background:#FFEBEB;
}

.TableBlock .TableLeft td,
.TableBlock td.TableLeft{
   background:#cbe1f5;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}

.Content{
   line-height:normal;
   word-wrap:break-word;
   word-break:break-all;  
}

.TableControl a{
   color:#0066CC;
   text-decoration: none;
}

.TableBlock .TableRowHover td,
.TableBlock td.TableRowHover
{
   background:#ebf2f9;
}

.TableBlock .TableRowActive td,
.TableBlock td.TableRowActive
{
   background:#d8e5f1;
}

.no-left-border{
   border-left:0px !important;
}
.no-top-border{
   border-top:0px !important;
}
.no-right-border{
   border-right:0px !important;
}
.no-bottom-border{
   border-bottom:0px !important;
}

/* 提示框样式 */
.MessageBox,
.dialog{
   border:1px #124164 solid;
}

/* 表头 */
.MessageBox .head,
.dialog .head{
   height:25px;
   overflow:hidden;
   background:url('list_hd_bg.png') left top repeat-x;
}
.MessageBox .head .left,
.dialog .head .left{
   width:0px;
}
.MessageBox .head .center,
.dialog .head .center{
}
.MessageBox .head .center .title,
.dialog .head .center .title{
   float:left;
   color:#000;
   font-size:16px;
   font-weight:bold;
   margin-top:5px;
}
.MessageBox .head .center .close,
.dialog .head .center .close{
   float:right;
   width:16px;
   height:16px;
   margin-top:5px;
   background:url('/static/images/close.png') center center no-repeat;
}
.MessageBox .head .center .close:hover,
.dialog .head .center .close:hover{
   background:url('/static/images/close_x.png') center center no-repeat;
}
.MessageBox .head .right,
.dialog .head .right{
   width:0px;
}

/* 表体 */
.MessageBox .body,
.dialog .body{
   height:90px;
   background-color:#fff;
}
.MessageBox .body .left,
.dialog .body .left{
   width:00px;
}
.MessageBox .body .center,
.dialog .body .center{
   text-align:center;
}
.MessageBox .body .center .msg-content,
.dialog .body .center .msg-content{
   margin:20px;
}
.MessageBox .body .right,
.dialog .body .right{
   width:00px;
}
/* 按钮栏 */
.MessageBox .control,
.dialog .control{
   height:30px;
   vertical-align:top;
   background-color:#fff;
}
.MessageBox .control .left,
.dialog .control .left{
   width:0px;
}
.MessageBox .control .center,
.dialog .control .center{
   text-align:center;
}
.MessageBox .control .right,
.dialog .control .right{
   width:0px;
}

/* 表底 */
.MessageBox .foot,
.dialog .foot{
   height:0;
}
.MessageBox .foot .left,
.dialog .foot .left{
   width:0px;
}
.MessageBox .foot .center,
.dialog .foot .center{
}
.MessageBox .foot .right,
.dialog .foot .right{
   width:0px;
}

/* 提示框 */
.MessageBox .msg{
   height:90px;
   background-color:#fff;
}
.MessageBox .msg .left{
   width:0px;
}
.MessageBox .msg .center{
   padding-left:90px;
   font-size:16px;
   color:#6BAD42;
}
.MessageBox .msg .right{
   width:0px;
}

.MessageBox .msg .error{
   background-image:url("/static/images/icon64_error.png") no-repeat top left;
   background-position:10px 10px;
   background-repeat:no-repeat;
}
.MessageBox .msg .info{
   background-image:url("/static/images/icon64_info.png");
   background-position:10px 10px;
   background-repeat:no-repeat;
}
.MessageBox .msg .warning{
   background-image:url("/static/images/icon64_warning.png") no-repeat top left;
   background-position:10px 10px;
   background-repeat:no-repeat;
}
.MessageBox .msg .forbidden{
   background-image:url("/static/images/icon64_forbidden.png") no-repeat top left;
   background-position:10px 10px;
   background-repeat:no-repeat;
}
.MessageBox .msg .stop{
   background-image:url("/static/images/icon64_stop.png") no-repeat top left;
   background-position:10px 10px;
   background-repeat:no-repeat;
}
.MessageBox .msg .blank{
   height:40px;
   padding:10px 20px 10px 20px;
   text-align:center;
}

.hightlight{
   text-decoration: underline;
   background: #FFFF00;
   padding-left: 3px;
   padding-right: 3px;
}
.banned{
   color: #FF0000;
}
.mod{
   color: #000000;
}
.filter{
   color: #0000FF;
}
.pageArea{padding:5px;color:#006EFE;width:320px;display:inline;}
.pageArea img{cursor:pointer;}
.pageArea a{width:30px;height:16px;display:inline-block;}
.pageArea .pageFirst{background: url('/static/images/firstpage.gif') center center no-repeat;}
.pageArea .pagePrevious{background: url('/static/images/previouspage.gif') center center no-repeat;}
.pageArea .pageNext{background: url('/static/images/nextpage.gif') center center no-repeat;}
.pageArea .pageLast{background: url('/static/images/lastpage.gif') center center no-repeat;}
.pageArea .pageFirstDisable{background: url('/static/images/firstpage_disable.gif') center center no-repeat;}
.pageArea .pagePreviousDisable{background: url('/static/images/previouspage_disable.gif') center center no-repeat;}
.pageArea .pageNextDisable{background: url('/static/images/nextpage_disable.gif') center center no-repeat;}
.pageArea .pageLastDisable{background: url('/static/images/lastpage_disable.gif') center center no-repeat;}
.pageArea .pageGoto{background: url('/static/images/green_arrow.gif') center center no-repeat;width:17px;}

.TableHeader a:link,
.TableHeader a:visited {color: #FFFFFF; text-decoration: none}
.TableHeader a:hover,
.TableHeader a:active{color: #FFFFFF; text-decoration: underline}

.ColorTable {
	margin: 0px; background: #F5FBFF; border: #BBBBBB 1px solid;
}
.ColorTable td {
	font-size: 12px; font-weight: bold;border-right: 1px #F5FBFF solid; border-bottom: 1px #F5FBFF solid; padding: 2px;
}
.ColorTable td.Selected {
	cursor: pointer; border: #316AC5 1px solid; background: #DFF1FF;
}
.ColorTable td div {
	cursor: pointer; border: #BBBBBB 1px solid;
}

.scroll-left{
   width:16px;
   background:url('/static/images/hscroll_arrow.png') -1px center no-repeat;
   cursor:pointer;
}
.scroll-left-active{
   width:16px;
   background:url('/static/images/hscroll_arrow.png') -33px center no-repeat;
   cursor:pointer;
}
.scroll-right{
   width:16px;
   background:url('/static/images/hscroll_arrow.png') -16px center no-repeat;
   cursor:pointer;
}
.scroll-right-active{
   width:16px;
   background:url('/static/images/hscroll_arrow.png') -48px center no-repeat;
   cursor:pointer;
}

.red{color:red;}