* {
    box-sizing: border-box;
    font-family: Microsoft Yahei;
}
*::selection {
    color: inherit !important;
}
ul,
li {
    margin: 0;
    list-style: none;
}
b {
    font-weight: normal;
}
html,
body {
    background: #eceff4;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    position: relative;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
}
.contanier {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 5px;
}
.contanier .hide {
    display: none;
}
.list-top {
    position: absolute;
    left: 0;
    right: 0;
    height: 55px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding-left: 20px;
}
.list-top span {
    line-height: 55px;
    cursor: pointer;
}
.separate {
    margin: 0 5px;
}
.type-text {
    color: #0e86fe;
}
.list-content {
    position: absolute;
    top: 55px;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow-x: auto;
}
.detail-info {
    width: 1158px;
    height: 740px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
}
.state-img {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    z-index: 100;
}
.info-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #333;
    background-color: #f5f5f5;
    position: relative;
}
.info-title .btn {
    position: absolute;
    right: 27px;
    top: 12px;
    height: auto;
    line-height: normal;
}
.detail-info .img-wrap,
.detail-info .info-wrap {
    border: 1px solid #d9d9d9;
    position: absolute;
    /* left: 27px; */
    top: 76px;
    bottom: 88px;
    width: 541px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: auto;
}
.detail-info .img-wrap {
    left: 27px;
}
.detail-info .info-wrap {
    right: 27px;
    padding: 0 20px;
}
.img-wrap {
    position: relative;
}
.img-wrap img {
    position: absolute;
    top: 50%;
    margin-top: -274px;
    left: 50%;
    width: 511px;
    margin-left: -255.5px;
    height: 548px;
}
.detail-card {
    border-bottom: 1px solid #d6d6d6;
}
.detail-title {
    padding: 20px 0;
}
.detail-title .flag {
    width: 6px;
    height: 14px;
    float: left;
    background-color: #0e82f7;
    margin: 3px 10px 0 0;
    border-radius: 2px;
}
.detail-title .detail-title-text {
    font-size: 13px;
    color: #0e82f7;
}
.line-content-item .key {
    float: left;
    width: 175px;
    padding-left: 16px;
    font-size: 13px;
    color: #666;
}
.line-content-item .value {
    margin-left: 175px;
    color: #333;
}
.line-content-item {
    padding-bottom: 20px;
}
.attachment-des {
    font-size: 0;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
.attachment-des div {
    display: inline-block;
    font-size: 11px;
    color: #999;
}
.attachment-des .blue {
    color: #0e86fe;
}
.commodity-list .title {
    padding-bottom: 20px;
    padding-left: 16px;
    position: relative;
}
.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #bdbdbd;
    position: absolute;
    left: 0;
    top: 6px;
}
.info-bottom {
    position: absolute;
    bottom: 0;
    left: 27px;
    right: 27px;
    height: 85px;
}
.info-bottom .table-wrap {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}
.info-bottom .btns {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    left: 18px;
}
.btns div {
    width: 138px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    font-size: 14px;
    background-color: #0e82f7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 36px;
}
#myModal.modal {
    width: 1100px;
    margin-left: -550px;
    height: 700px;
}
.list-top .detail-text {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    margin-top: -27.5px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #333;
    cursor: auto;
}
#myModal.modal.print {
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
}
