html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
html{height:100%;}
ul, ol {list-style:none;}
.clear{ clear:both; overflow:hidden;}
.fr{float:right;}
.tac{text-align:center;}
body {
	text-transform:capitalize;
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}
.container{	
	width: 100%;
	background-color: #ffffff;
	overflow:hidden;
	}	
.form_body {
	width: 686px;
	margin:0 auto;
	border:1px #cccccc solid;
	overflow:hidden;
}
.form_body_1{ 
     width:630px; 
	 margin: 0 auto;}

.head_er{
    font-family: "微软雅黑", "宋体";
	font-size: 34px;
	color: #414141;
	line-height:80px;
	width:100%;
}
.line{
	background-image:url(../images/form_bottom.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
}
.cent_er{
	width:100%;
	overflow:hidden;}
.situation_h1 {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	text-align: right;
	padding-right: 25px;
	background-image:url(../images/form_bottom.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
}
.situation_h1 span {
	padding-left: 5px;
}
.form_row {
	width:100%;
	overflow:hidden;
}
	
.text_li {
	line-height: 27px;
	text-align:left;
	float:left;
}
.pselect{
	line-height:28px;
	border-width:0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	background-repeat: no-repeat;
	background-position: right top;
}
.selectlist {
	border-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	}
.text_gray {
	font-family: "宋体";
	font-size: 14px;
	color: #414141;
	display: block;
	margin-top:8px;
	padding-left:2px;
	line-height:30px;
}
.input_text{ float:left;}
.text_stlye{ height:30px;float:left; border:0px; padding-top:0px; background:none; font-family: "宋体"; font-size:12px;color:#999999;}
.text_stlye input{background:none;border:0px; font-family: "宋体"; font-size:12px;color:#999999;height:30px; }
.text_stlye1{ float:left; border:0px; padding-top:0px; background:none; font-family: "宋体"; font-size:12px;}
.text_stlye1 input{ font-family: "宋体"; font-size:12px;}
.text_stlye_ggys{ float:left; border:0px; width: 630px; padding-left:4px; height:30px; background:url(../images/form.jpg) left 0px; font-family: "宋体"; font-size:12px; }
.text_stlye_ggys1{background:url(../images/form.jpg) right -30px;width: 630px; height:30px; float:left; border:0px;}
.text_stlye_ggys input{background:none;border:0px; font-family: "宋体"; font-size:12px;color:#999999;line-height:30px;}
.input_checkbox{ color:#545454;}
.text_li .sel {
	line-height: 30px;
	height: 30px;
	font-family: "宋体";
	font-size: 14px;
	color: #545454;
	margin-left: 10px;
}

.se2 {
	line-height: 30px;
	height: 30px;
	text-align:left;
}
.text_li .se3{ float:left; width:30px; text-align:center;}
.text_li .se4{ float:left; width:20px; text-align:center;}
.text_li .se4 img{ margin-top:3px;}

.textarea_gray{
	font-family: "宋体";
	font-size: 14px;
	color:#414141;
	display: block;
	padding-left:14px;
	line-height:32px;}
.textarea_6{ width:628px; background-color:#f7f7f9; border:1px #cccccc solid;height:89px;}
.textarea_top{ width:100%; height:6px;float:left;  position:relative;}
.textarea_bottom{ width:100%; height:6px;float:left; position:relative;}

.textarea_61{ width:4px; height:4px; float:left; background-image:url(../images/textarea-1.jpg);background-repeat:no-repeat; overflow:hidden;position:absolute;left:-1px; top:-1px;z-index:1111111;}
.textarea_62{ width:4px; height:4px; float:right; background-image:url(../images/textarea-2.jpg);background-repeat:no-repeat; overflow:hidden;position:absolute;right:-1px; top:-1px;z-index:1111111;}
.textarea_63{ width:4px; height:4px; float:left; background-image:url(../images/textarea-3.jpg);background-repeat:no-repeat; overflow:hidden;position:absolute;left:-1px; bottom:-1px;z-index:1111111;}
.textarea_64{ width:4px; height:4px; float:right; background-image:url(../images/textarea-4.jpg);background-repeat:no-repeat; overflow:hidden;position:absolute;right:-1px; bottom:-1px;z-index:1111111;}
.textarea_stlye{ border:0px; overflow:auto; background:none; font-size:12px; float:left;color:#999999;}
.textarea_a{border:0px; overflow:auto; background:none; font-size:12px; float:left; min-height:70px; line-height:20px; padding:0px 5px;}


/*.xhx{ width:100px; height:2px;background-image:url(../images/form_bottom.gif);background-position:left bottom; background-repeat:repeat-x; margin-top:12px;}*/

.button_next {
	 width:63opx;
	height: 44px;
	 float:left;
	margin:20px 0px;
}
.button_next a {
	background-image: url(../images/button_bg.gif);
	background-repeat: no-repeat;
	height: 37px;
	width: 134px;
	font-family: "微软雅黑", "宋体";
	font-size: 16px;
	 color:#626262;
	text-decoration: none;
	line-height: 37px;
	display: block;
	margin-left:248px;
	
}
#text_stlye{ float:left; border:0px; height:25px; line-height:25px; padding-top:0px; background:none; font-family: "宋体"; font-size:12px; color:#999999;}
.text_li .se5{ float:left; width:20px; text-align:center;} 
.text_li .se5 img{ margin-top:0px;}
.textarea_gray label{ color:#000;}
.form_body textarea{ background:none;border:0px;	height: 100%; overflow:auto; font-family: "宋体"; font-size:12px; line-height:20px;}