*{padding:0px;margin:0px;}
html{
    overflow-x:hidden;
}
body{
   margin:0px;
   font-size:9pt;
   font-family:ו;
}

#tabs{
   padding-top:6px;
   background:#D6E4EF;
}

#nav_menu {
   height:34px;
   background:url("nav_menu_bg.png") repeat-x top;
   padding-left:5px;
   padding-right:5px;
   font-size:14px;
   clear:both;
}
#nav_menu li {
   display: inline;
   list-style-type: none;
}

#nav_menu a:link, #nav_menu a:visited {
   color:#000000;
   text-decoration: none;
   display:block;
   float:left;
   text-align:center;
}
#nav_menu a:hover, #nav_menu a.active {
   color:#FFFFFF;
}
#menu_1{
   width:70px;
   margin-right:5px;
   height:33px;
   line-height:33px;
   background:url("nav_menu_normal.png") no-repeat top left;
}
#menu_2{
   width:55px;
   height:29px;
   line-height:29px;
   margin-top:4px;
   background:url("nav_menu_normal.png") no-repeat top left;
}
#menu_3{
   width:55px;
   height:29px;
   line-height:29px;
   margin-top:4px;
   background:url("nav_menu_normal.png") no-repeat top center;
}
#menu_4{
   width:55px;
   height:29px;
   line-height:29px;
   margin-top:4px;
   background:url("nav_menu_normal.png") no-repeat top right;
}

#menu_1:hover, #menu_1:link.active, #menu_1:visited.active{
   color: #FFFFFF;
   height:34px;
   line-height:34px;
   background:url("nav_menu_active.png") no-repeat top left;
}
#menu_2:hover, #menu_2:link.active, #menu_2:visited.active{
   color: #FFFFFF;
   height:30px;
   line-height:30px;
   background:url("nav_menu_active.png") no-repeat top left;
}
#menu_3:hover, #menu_3:link.active, #menu_3:visited.active{
   color: #FFFFFF;
   height:30px;
   line-height:30px;
   background:url("nav_menu_active.png") no-repeat top center;
}
#menu_4:hover, #menu_4:link.active, #menu_4:visited.active{
   color: #FFFFFF;
   height:30px;
   line-height:30px;
   background:url("nav_menu_active.png") no-repeat top right;
}

#expand_link{
   position:absolute;
   top:9px;
   right:30px;
   cursor:pointer;
}
.expand_link{
}

.sub_tabs{
   height:28px;
   background: #70A4CF;
   position:relative;
}
.hide{
   height:0px;
}
.sub_tabs ul {
   height:26px;
   margin-left:5px;
   overflow:hidden;s
}

.sub_tabs li {
   display: inline;
   list-style-type: none;
}

.sub_tabs a:link, .sub_tabs a:visited{
   float:left;
	overflow:hidden;
	color:#FFFFFF;
	text-decoration: none;
   padding-left:4px;
   margin-top:5px;
}
.sub_tabs a:link span, .sub_tabs a:visited span{
   float:left;
   cursor:pointer;
	padding: 1px 8px 3px 4px;
}
.sub_tabs a.active, .sub_tabs a:hover,
.sub_tabs a:link.active, .sub_tabs a:hover.active, .sub_tabs a:active.active, .sub_tabs a:visited.active
{
	color:#003366;
	text-decoration: none;
    background: url('sub_nav_hover_l.png') no-repeat top left;
}
.sub_tabs a.active span, .sub_tabs a:hover span,
.sub_tabs a:link.active span, .sub_tabs a:hover span, .sub_tabs a:active.active span, .sub_tabs a:visited.active span
{
   background: url('sub_nav_hover_r.png') no-repeat top right;
}
.sub_tabs a:link span span.dropdown, .sub_tabs a:visited span span.dropdown{
   float:none;
   padding:0px !important;
   width:16px;
   height:12px;
   display:inline-block;
   background: url('sub_module_dropdown.png') center 2px no-repeat !important;
}
.sub_tabs a:active span span.dropdown, .sub_tabs a:hover span span.dropdown,
.sub_tabs a:link.active span span.dropdown, .sub_tabs a:hover span span.dropdown, .sub_tabs a:active.active span span.dropdown, .sub_tabs a:visited.active span span.dropdown{
   background: url('sub_module_dropdown.png') center -28px no-repeat !important;
}

.sub_menu{display:none;width:100px;border:#83ACCF 1px solid;position:absolute;z-index:10001;background:#FFFFFF;}
.sub_menu a{display:block;line-height:20px;padding:3px 0 0 16px;}
.sub_menu a:hover{background-color:#D6E4EF;text-decoration:none;}
.sub_menu a.active{
   background:url('dropdown_menu_checked.png') #D6E4EF left center no-repeat;
}

.sub_tabs #my_fav{
    position:absolute;
    top:-1px;
    left:6px;
    display:block;
    width:110px;
    height:21px;
    text-decoration:none;
    color:#1191F5;
    background:url('/static/modules/my_fav/images/fav_1.png') left center no-repeat;
}
.sub_tabs #my_fav span{
    display:block;
    padding-left:26px;
    background:url('/static/modules/my_fav/images/3_hover.png') left center no-repeat;
}
.sub_tabs #menu_refresh,
.sub_tabs #org_refresh,
.sub_tabs #sms_refresh{
   width:16px;
   height:16px;
   display:block;
   position:absolute;
   top:3px;
   right:10px;
   cursor:pointer;
   background:url('refresh.png') center 0px;
   padding: 0;
}
.sub_tabs #menu_refresh:hover,
.sub_tabs #org_refresh:hover,
.sub_tabs #sms_refresh:hover{
   background:url('refresh.png') center -16px;
}

#panels_container{
   background: #70A4CF;
   border-left:1px #154B76 solid;
   border-right:1px #154B76 solid;
}
#panels_container .panel{
    width:100%;
    height:100%;
    display:none;
}

#bottom{
   width:100%;
   height:55px;
   overflow:hidden;
}
#bottom_left{
   float:left;
   width:40px;
   height:100%;
   background: url("menu_bottom_bg_left.png") no-repeat left top;
}
#bottom_center{
   float:left;
   height:100%;
   background: url("menu_bottom_bg_center.png") no-repeat center top;
}
#bottom_right{
   float:left;
   width:40px;
   height:100%;
   background: url("menu_bottom_bg_right.png") no-repeat right top;
}

#body{
   overflow-x:hidden;
   overflow-y:auto;
   clear:left;
}

.search{
   padding-left:26px;
   height:30px;
   background:#70A4CF url('/static/images/search_bg.png') left 0px no-repeat;
}
.search .search-body{
   padding-right:26px;
   background:transparent url('/static/images/search_bg.png') right -60px no-repeat;
   position:relative;
}
.search .search-body .search-input{
   background:transparent url('/static/images/search_bg.png') left -30px repeat-x;
}
.search .search-body .search-input input{
   width:100%;
   height:18px;
   margin-top:7px;
   border:0px;
   background:transparent;
   padding-left:0px;
}
.search .search-clear{
   position:absolute;
   top:0px;
   right:10px;
   width:16px;
   height:30px;
   background:transparent url('/static/images/search_bg.png') right -90px no-repeat;
   cursor:pointer;
}
