.swfuploadContainer{
   position:relative;
   margin-right:80px;
}

.swfuploadBtn{
   width:70px;
   height:21px;
   background-image:url('btn_swfupload.png');
   padding-left:10px;
   padding-top:1px;
}

div.flash {
	margin: 10px 0px;
	padding: 10px 10px;
	border:  1px solid #83ACCF;
	background-color: #FFF;
	display:none;
}

.totalStatics {
   padding:10px 0px 5px 0px;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	overflow: hidden;
}

.progressName {
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 17px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

/* Message */
.message {
	overflow: hidden;
}
/* Error */
.red {
	color: #B50000;
	background-color: #FFEBEB;
}

/* Current */
.blue {
	background-color: #FFF;
}

/* Complete */
.green {
	color: green;
	background-color: #FFF;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 3px;
	background-color: #00AA00;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: #00AA00;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	height: 14px;
	width: 14px;
	background-image: url(/static/images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}
