.work_right{
	min-height:600px;
}
.select_main{
	border-bottom:1px solid #d8d8d8;
	width:950px;
}
.select_main_auto{
	/*border-bottom:1px solid #d8d8d8;*/
	width:950px;
}
.select_main_top{
	margin-top:15px;
	width:800px;
	height:45px;
}
.inteligent_auto_user_set,.intelligent_auto_user_set{
	border:0px solid red;
	margin-top:15px;
	margin-left:25px;
	width:800px;
	height:120px;
}
.inteligent_item_id_hide,.intelligent_item_id_hide{
	border:0px solid red;
	margin-top:5px;
	margin-left:25px;
	width:800px;
	height:30px;
}
.select_main_bottom{
	border:0px solid blue;
	margin-top:15px;
	width:800px;
	margin-left:25px;
	height:30px;
	background:#f1f0e8;
}
.select_top_left{
	font-weight:bold;
	float:left;
	line-height:30px;
	height:30px;
}
.select_top_left_hide{
	float:left;
	line-height:30px;
	height:30px;
	padding-left:15px;
	font-weight:bold;
}
.select_top_right{
	float:left;
	line-height:30px;
	height:30px;
	margin-left:15px;
}
.select_bottom_main_info{
	border:0px solid red;
	height:30px;
	float:left;
	line-height:30px;
	margin-left:8px;
	font-size:10px;
	color:red;
}
.close_tip{
	border:0px solid red;
	float:right;
	position:relative;
	top:0px;
	margin-right:5px;
	margin-top:0px;
}
.close_tip:hover{
	cursor:pointer;
}
.select_bottom_main_info_auto{
	height:60px;
	float:left;
	margin-top:8px;
	margin-left:8px;
	font-size:10px;
	color:red;
}
.close_tip_auto{
	border:0px solid red;
	float:right;
	position:relative;
	top:0px;
	margin-right:5px;
	margin-top:0px;
}
.select_main_bottom_auto{
	border:0px solid blue;
	margin-top:15px;
	width:800px;
	margin-left:25px;
	height:60px;
	background:#f1f0e8;
}

.setting{
	border:0px solid red;
	margin-top:15px;
	/*margin-left:20px;*/
	font-weight:bold;
	font-weight:900;
}
.set_target{
	margin-top:5px;
	/*margin-left:20px;*/
}
.target_body{
	border:0px solid red;
	float:left;
}
.set_icon{
	border:0px solid red;
	/*margin-left:20px;*/
	float:left;
}
.set_value{
	border:0px solid red;
	/*margin-left:20px;*/
	float:left;
}
.sure_value{
	border:0px solid red;
	float:left;
}

.iter_action{
	border:0px solid red;
	/*margin-left:20px;*/
	font-weight:bold;
	font-weight:900;
	clear:both;
}
.do_action{
	border:0px solid red;
	/*margin-left:20px;*/
}
.action_info{
	border:0px solid red;
	float:left;
}
.action_do{
	border:0px solid red;
	margin-top:20px;
	float:left;
}
.do_hour{
	border:0px solid red;
	margin-top:25px;
}
.input_hour{
	border:0px solid yellow;
	float:left;
}
.hour_tip{
	border:0px solid red;
	float:left;
}
.work_base{
	/*border:1px solid #d8d8d8;*/
	margin-top:20px;
	height:260px;
	width:1000px;
	clear:both;
}
.text_small{
	font-weight:bold;
	font-weight:900;
	font-size:14px;
	width:100px;
}
.text_big{
	font-weight:bold;
	font-weight:900;
	font-size:14px;
	width:180px;
}
.node_type_val{
	border:0px solid red;
	float:left;
}
.select_node_val{
	border:0px solid red;
	float:left;
}
.next_info{
	border:0px solid red;
	margin-left:25px;
	height:200px;
}
.next_step_left{
	border:1px solid #d8d8d8;
	width:260px;
	height:200px;
	margin-left:15px;
	float:left;
}
.change_step{
	border:0px solid blue;
	height:200px;
	margin-left:8px;
	float:left;
}
.next_step_right{
	border:1px solid #d8d8d8;
	height:200px;
	width:260px;
	margin-left:8px;
	float:left;
}
.next_step_title{
	border:0px solid red;
	background:#f1f0e8;
	line-height:30px;
	color:gray;
	height:30px;
}
.next_step_information{
	border:0px solid red;
	height:170px;
}
.change_right{
	border:0px solid red;
	margin-top:80px;
}
.change_left{
	margin-top:5px;
	border:0px solid red;
}
.change_up{
	border:0px solid red;
	margin-top:80px;
}
.change_down{
	margin-top:5px;
	border:0px solid red;
}

.ready_step_title{
	border:0px solid red;
	background:#f1f0e8;
	line-height:30px;
	color:gray;
	height:30px;
}
.ready_step_information{
	border:0px solid red;
	height:170px;
}
.alternative_step{
	border:0px solid red;
	width:100px;
	height:20px;
}
.select{
	background:#4094bd;
}
.nextStep{
	border:0px solid red;
	width:100px;
	height:20px;
}
.heigh_light_display{
	border:0px solid #edde76;
	margin-top:25px;
}
.display_title{
	border:2px solid #edde76;
	border-right:0px solid red;
	width:80px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:900;
	font-weight:bold;
	float:left;
}
.display_info{
	border:2px solid #edde76;
	height:30px;
	line-height:30px;
	width:685px;
	float:left;
}
.display_btn{
	border:0px solid yellow;
	height:30px;
	line-height:30px;
	margin-left:10px;
	float:left;
}
.type_select{
	border:1px solid #d8d8d8;
	height:40px;
	width:850px;
}
.type_select_all{
	border:0px solid blue;
	width:100px;
	line-height:40px;
	height:40px;
	font-size:14px;
	text-align:center;
	margin-left:10px;
}
.type_select_left{
	border:0px solid blue;
	height:40px;
	width:400px;
	float:left;
}
.type_select_right{
	border:opx solid blue;
	height:40px;
	width:400px;
	float:left;
}
.type_left_title{
	border-right:2px solid #f0f0f0;
	width:100px;
	line-height:40px;
	height:40px;
	font-size:14px;
	text-align:center;
	float:left;
}
.type_left_info{
	border-right:2px solid #f0f0f0;
	width:296px;
	line-height:40px;
	height:40px;
	font-size:14px;
	text-align:center;
	float:left;
}
.type_right_info{
	border-right:0px solid #f0f0f0;
	width:296px;
	line-height:40px;
	height:40px;
	font-size:14px;
	text-align:center;
	float:left;
}
.info_left{
	border:0px solid red;
	margin-left:10px;
	float:left;
}
.info_center{
	border:0px solid red;
	margin-left:20px;
	float:left;
}
.info_right{
	border:0px solid red;
	margin-left:20px;
	float:left;
}
.display_main{

	border:0px solid red;
	margin-top:20px;
}
.display_bottom{
	border:0px solid red;
	margin-top:5px;
}
.tab_infos{
	border:0px solid red;
}
.infos{
	border:0px solid red;
	float:left;
}
.btn-infos{
	border:0px solid red;
	float:left;
}
.top_image{
	border:0px solid red;
}
.bottom_image{
	border:0px solid red;
}
.nav-left{
	width:200px;
	float:left;
}
.circulation{
	width:auto;

}
.circulation_size{
	color:inherit;
	clear:both;
	font-weight:bold;
}
.circulation_sponsor{
	width:850px;
	margin-top:25px;
}
.circulation_sponsor_content{
	width:820px;
	height:50px;
	border:1px solid #D3D3D3;
	background-color:#FCFCFC;

}
.circulation_sponsor_select{
	margin-left:25px;
	width:170px;
	margin-top:8px;
	float:left;
}
.circulation_sponsor_select2{
	margin-left:25px;
	width:110px;
	margin-top:8px;
	float:left;
}
.circulation_sponsor_explain{
	width:30px;
	margin-top:15px;
	margin-left:10px;
	float:left;
	color:blue;

}
.circulation_sponsor_revise{
	margin-top:15px;
	margin-left:100px;
	float:left;
	display:inline-block;
	font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}
.circulation_sponsor_revise_left{

	margin-top:15px;
	float:left;
	display:inline-block;
	font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}
.guide_clear{
	clear:both;
}
.remind_sponsor_revise_left{
	margin-top:15px;
	float:left;
	display:inline-block;
	font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}
.remind_sponsor_revise_left2{
	margin-top:15px;
	margin-left:25px;
	float:left;
	display:inline-block;
	font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
}
.condition_sponsor_content{
	width:820px;
	height:auto;
	border:1px solid #D3D3D3;
	background-color:#FCFCFC;
}
.remind_sponsor_content{
	width:820px;
	height:60px;
	background-color:#FCFCFC;
}
.remind_sponsor_content2{
	width:820px;
	height:60px;
	border:1px solid #D3D3D3;
	background-color:#FCFCFC;
}
.remind_sponsor_content3{
	width:820px;
	height:90px;
	border:1px solid #D3D3D3;
	background-color:#FCFCFC;
}
.circulation_sponsor_checkbox{
	width:110px;
	margin-top:8px;
	margin-left:25px;
	font-weight: bold;
	float:left;
}
.remind_sponsor_checkbox{
	width:510px;
	height:50px;
	margin-top:15px;
	font-weight: bold;
	float:left;
}
.condition_note{
	width:400px;
	color:#E63231;
	clear:both;
}
.condition_button{
	width:900px;
	border:0px;
	padding:0px;
	text-align: center;
	margin-top:15px;
}
.condition_sponsor_table{
	width:820px;
	height:auto;
}
.condition_sponsor_table_tr{
	background-color:#F5F5F5;
}
#condition_sponsor_table_td1{
	width:50px;
	text-align:center;
}
#condition_sponsor_table_td2{
	width:auto;
	text-align:center;
}
#condition_sponsor_table_td3{
	width:200px;
	text-align:center;
}
#condition_sponsor_table_td4{
	width:120px;
	text-align:center;
}
#condition_sponsor_table_td5{
	width:100px;
	text-align:center;
}
#condition_sponsor_table_td6{
	width:60px;
	text-align:center;
}
.plugin_div{
	margin-right: 6px;
	background: #B6D7FF;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	float: left;
	padding: 2px 3px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.condition_edit{
	width:70px;
	float:left;
	margin-left:50px;
	color:#277EAB;
}
.condition_delete{
	width:70px;
	float:left;
	color:#E63231;
}
.condition_input{
	width:806px;
}
.condition_warning{
	background-color:#F5F5F5;
	width:770px;
}
.remind_checkbox{
	margin-top:10px;
	margin-left:7px;
	float:left;
	display:inline-block;
	font-family: 'Microsoft YaHei',Simsun, Arial, sans-serif;
	color: inherit;
	text-rendering: optimizelegibility;
}
.flow_piece2{/*-- 流转设置  --*/
	border:0px solid red;
	margin:0px;
	padding:0px;
	margin-bottom:18px;
	width:420px;
	float:left;
}

.icon20-unit_front,.icon20-unit_back,.icon20-basis,.icon20-select,.icon20-operator,.icon20-intelligent,
.icon20-syllable,.icon20-circulation,.icon20-condition_hover,.icon20-condition_2,.icon20-circulation_hover,.icon20-writable,.icon20-writable_hover,.icon20-hidden,.icon20-hidden_hover,.icon20-required,.icon20-required_hover,
.icon20-condition,.icon20-limit,.icon20-unit,.icon20-remind,.icon20-remind_hover,
.icon20-basis_hover,.icon20-select_hover,.icon20-operator_hover,.icon20-intelligent_hover,.icon20-syllable_hover,.icon20-circulation_hover,.icon20-condition_3,.icon20-condition_4,
.icon20-limit_hover,.icon20-unit_hover,.icon20-remind_hover,.icon20-remind_3,.icon20-remind_2,.icon20-aip,.icon20-aip_hover
{
	padding-left:36px;
	display:block;
	height:22px;
	margin-top:5px;
}
.icon20-unit_front{/*-- 节点前附加操作  --*/
	background:url(images/unit_title_front.png) no-repeat;
}
.icon20-unit_back{/*-- 节点后附加操作  --*/
	background:url(images/unit_title_back.png) no-repeat;
}
.icon20-basis{/*-- 基本设置  --*/
	background:url(images/basis_title.png) no-repeat;
}
.icon20-basis_hover{/*-- 点击后基本设置  --*/
	background:url(images/basis_title_1.png) no-repeat;
}
.icon20-select{/*-- 变量映射  --*/
	background:url(images/relation_title.png) no-repeat;
}
.icon20-select_hover{/*-- 点击后基本设置  --*/
	background:url(images/relation_title_1.png) no-repeat;
}
.icon20-operator{/*-- 经办人  --*/
	background:url(images/operator_title.png) no-repeat;
}
.icon20-operator_hover{/*-- 经办人  --*/
	background:url(images/operator_title_1.png) no-repeat;
}
.icon20-intelligent{/*-- 智能选人  --*/
	background:url(images/intelligent_title.png) no-repeat;
}
.icon20-intelligent_hover{/*-- 智能选人  --*/
	background:url(images/intelligent_title_1.png) no-repeat;
}
.icon20-syllable{/*-- 字段设置  --*/
	background:url(images/syllable_title.png) no-repeat;
}
.icon20-syllable_hover{/*-- 字段设置  --*/
	background:url(images/syllable_title_1.png) no-repeat;
}
.icon20-circulation{/*-- 流转设置  --*/
	background:url(images/circulation_title.png) no-repeat;
}
.icon20-circulation_hover{/*-- 流转设置  --*/
	background:url(images/circulation_title_1.png) no-repeat;
}
.icon20-writable{/*-- 可写字段  --*/
	background:url(images/operator_title_a.png) no-repeat;
}
.icon20-writable_hover{/*-- 可写字段  --*/
	background:url(images/operator_title_a1.png) no-repeat;
}
.icon20-hidden{/*-- 保密字段  --*/
	background:url(images/hidden_title.png) no-repeat;
}
.icon20-hidden_hover{/*-- 保密字段  --*/
	background:url(images/hidden_title_1.png) no-repeat;
}
.icon20-required{/*-- 必填字段  --*/
	background:url(images/required_title.png) no-repeat;
}
.icon20-required_hover{/*-- 必填字段  --*/
	background:url(images/required_title_1.png) no-repeat;
}
.icon20-condition{/*-- 条件设置  --*/
	background:url(images/condition_title.png) no-repeat;
}
.icon20-condition_hover{/*-- 条件设置  --*/
	background:url(images/condition_title_1.png) no-repeat;
}
.icon20-condition_2{/*-- 条件转入  --*/
	background:url(images/condition_title_in.png) no-repeat;
}
.icon20-condition_3{/*-- 条件转出  --*/
	background:url(images/condition_title_out.png) no-repeat;
}
.icon20-condition_4{/*-- 条件生成器  --*/
	background:url(images/condition_make.png) no-repeat;
}
.icon20-limit{/*-- 办理时限  --*/
	background:url(images/limit_title.png) no-repeat;
}
.icon20-limit_hover{/*-- 办理时限  --*/
	background:url(images/limit_title_1.png) no-repeat;
}
.icon20-unit{/*-- 插件操作  --*/
	background:url(images/unit_title.png) no-repeat;
}
.icon20-unit_3{/*-- 插件操作  --*/
	background:url(images/unit_title_3.png) no-repeat;
}
.icon20-unit_hover{/*-- 插件操作  --*/
	background:url(images/unit_title_1.png) no-repeat;
}
.icon20-remind{/*-- 提醒设置  --*/
	background:url(images/remind_title.png) no-repeat;
}
.icon20-remind_hover{/*-- 提醒设置  --*/
	background:url(images/remind_title_1.png) no-repeat;
}
.icon20-remind_2{/*-- 提醒设置  --*/
	background:url(images/remind_title_3.png) no-repeat;
}
.icon20-remind_3{/*-- 提醒设置  --*/
	background:url(images/remind_title_2.png) no-repeat;
}
.icon20-aip{
	background:url(images/aip_title.png) no-repeat;
}
.icon20-aip_hover{
	background:url(images/aip_title_1.png) no-repeat;
}
.icon16-remind_1,.icon16-remind_2,.icon16-remind_3{
	margin-left:2px;
	width:16px;
	height:20px;
	padding-bottom:5px;
	padding-left:16px;
}
/*-- 提醒设置图片  --*/
.icon16-remind_1{
	background:url(/static/modules/workflow/images/email.png) no-repeat;
}
.icon16-remind_2{
	background:url(/static/modules/workflow/images/mobile.png) no-repeat;
}
.icon16-remind_3{
	background:url(/static/modules/workflow/images/sms.png) no-repeat;
}
/*-- 提醒设置图片结束  --*/


.left_body{/*-- 右侧页面 左边布局  --*/
	width:403px;
	float:left;
}
.right_body{/*-- 右侧页面 右边布局  --*/
	width:403px;
	float:left;
	margin-left:50px;
}
.flow_main_body_left{
	float:left;
}
.f_field_ctrl_circulation{
	margin-top:5px;
	margin-left:2px;
	margin-bottom:8px;
}
.father_step_left{
	float:left;
}
.mappings{
	width:540px;
	padding-top:15px;
	float:left;
}
.nav-right > .tab-pane{
	width: 100%;
}