#content{
    width:100%;
    height:100%;
}
#navigation{
    width:240px;
    height:100%;
    background:#fff;
    border:1px solid rgba(217,217,217,0.6);
    border-top:0;
    float:left;
}
.nav_box{
    width:100%;
    height:52px;
    border-bottom:1px solid rgba(217,217,217,0.6);
    line-height:52px;
    font-size:14px;
    color:#333;
}
.nav_box:hover{
    color:#0e86fe;
}
.icon_statistics{
    color:#0e86fe;
    font-size:20px;
}
.pointer{
    cursor: pointer;
}
.icon_apply,.icon_sign,.icon_device,.icon_invitation{
    font-size:20px;
    margin-right:12px;
    margin-left:50px;
}
.icon_apply{
    color:#fc6280;
}
.icon_sign{
    color:#97c15b;
}
.icon_device{
    color:#ffb64d;
}
.icon_invitation{
    color:#ab7967;
}
.checked_box{
    background:#DBEDFF;
    color:#0e86fe;
}
#right_box{
    float:left;
}
#chart_box{
    width:900px;
    height:600px;
    /* float:left; */
    margin:0 auto;
}
#search_box{
    width:890;
    height:50px;
    margin-top:20px;
    margin-left:48px;
}
#search_dept,#search_mr,#search_invitation,#search_user_dept{
    display: inline;
    margin-left:10px;
}
#select_dept,#select_mr,#select_invitation,#select_use{
    width:100px;
}
#statisticsBtn{
    /* float:right; */
    margin-left:10px;
}
#chart_info{
    width:100%;
    height:550px;
    /* background:green; */
}
#apply_list,#sign_list{
    width:800px;
    height:550px;
    /* background:red; */
}
#apply_list_h4,#sign_list_h4{
    text-align: center;
}
table{
    margin:0 auto;
}
.t_head>tr>th{
    text-align: center;
}
.table thead tr {
    color: rgb(102, 102, 102);
    font-size: 14px;
    background: rgb(244, 250, 255);
}
#sign_tbody>tr>td{
    text-align: center;
}
#apply_tbody>tr>td{
    text-align: center;
}