 
.manual_tr{
	border:1px solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
 }
 .field-block{
	padding:8px;
 }
 .add{
	margin-left:30px;
 }
 .ch-box{
	margin-left:20px;
 }
 .addtn{
	color:green;
 }
 .tab_nunique{
	float:left;
	padding-left:50px;
	width:40px;
 }
 
 .footer{
	text-align:center;
	margin-top:8px;
	margin-bottom:25px;
 }
 
 #olay {display: none; z-index: 10000; height:100%;BACKGROUND: #000; filter: alpha(opacity=20);LEFT: 0px; POSITION: absolute; TOP: 0px; -moz-opacity:0.2;opacity:0.2;}
.Dialog {
	border-radius:4px;
 	border:0px solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background: #FFF;
	padding: 0px;
	margin: 10px auto; 
	clear: both; 
	position: absolute; 
	z-index: 10000;
	display:none;
	}
.head{
	border-bottom: 1px #DCDCDC solid;
	border-radius:4px 4px 0 0; 
	font-size: 12px;
	color:black; 
	background:none;
	overflow: hidden; 
	height:40px; 
	}
h4{padding: 2px 0px 0px 10px;  float: left; line-height:18px;width:320px;}
.opera{padding-top: 8px;padding-right:10px; float: right; cursor: pointer; text-decoration: none;}
.edit td{
    vertical-align:true;
}
.import{
	margin-right:6px;
}
 .tab_browse{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid white;
	width:100%;
	text-align:center;
}
.tab_browse thead{
	line-height:30px;
}
.tab_browse th{
	border:1px solid #ccc;
}
.browse_tr{
	line-height:23px;
	width:100px;
	border:1px solid #ccc;
}
.browse_tr td{
	border:1px solid #ccc;
}
.data_radius_a{
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.field_div_query_field{
	margin-top: 8px;
}
.field_div_query_field input{
	margin-bottom: 8px;
}
.field_div_nunique{
	margin-top: 8px;
}
.field_div_nunique input{
	margin-bottom: 8px;
}
 
 