.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.list-detail {
  
    box-sizing: border-box;
}
.list-detail .list-info p{
    padding: 6px 0;
    padding-left: 12px;
}
.list-detail .list-info p span:first-child{
    display: inline-block;
    width: 100px;
}
