*{margin:0px;padding:0px;}
img{border:0px;}
body{font-size: 9pt;}
table {
   border: 1px solid #688CAF;
   border-collapse:collapse;
   font-size: 9pt;
}
td {
   border: 1px solid #D0D7E5;
   border-collapse:collapse;
   padding:3px;
   min-width:50px;
}
td.header {
   border: 1px solid #9EB6CE;
   font-size: 10pt;
   color:#27413E;
   background:url('/static/images/excel_head_bg.png') left bottom repeat-x;
   text-align:center;
   vertical-align:center;
}
td.index {
   border: 1px solid #9EB6CE;
   font-size: 10pt;
   color:#27413E;
   background:#E4ECF7;
   width:33px;
   text-align:center;
}
td.dt_string {text-align:left;}
td.dt_int {text-align:right;}
td.dt_float {text-align:right;}
td.dt_date  {text-align:center;}
td.dt_unknown {}
td.empty {}
#ws{
   width:100%;
   overflow:auto;
}
#wsPanel{
	width: 100%;
	height: 30px;
	padding-bottom:3px;
	font-size:10pt;
	background: #E4ECF7 url('/static/images/excel_ws_menu_bg.png') top left repeat-x;
}
#wsMenu{
	float: left;
	white-space: nowrap;
	padding: 0px 20px;
}
#wsMenu a:link,
#wsMenu a:active,
#wsMenu a:visited
{
	float: left;
	display: block;
	overflow:hidden;
	color:#27413E;
	padding: 5px 10px 3px 10px;
	text-decoration: none;
	background: url('tab_inactive.gif') center right no-repeat;
}
#wsMenu a:link.active, #wsMenu a:visited.active, #wsMenu a:hover
{
	padding: 5px 9px 4px 9px;
	border:1px #688CAF solid;
	border-top:1px #FFFFFF solid;
	background: #FFFFFF;
	font-weight:bold;
}