*{
    padding:0px;
    margin:0px;
}
body{
    position: relative;
}
.concernwrapper{
    width: 850px;
    margin: 15px 0px 0px 20px;
}
#concern_l{
    width: 600px;
    min-height: 500px;
    float: left;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
}
.concern_hd{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
}
.concern_control{
    padding: 10px;
    position: relative;
}
.color-orange{
    color: #ffa200;
    margin: 0px 5px;
    font-weight: bold;
}
.manage{
    display: none;
}
#pacth_cancel,#pacth_group{
    margin-right: 5px;
}
#group-title{
    width: 100%;
    overflow: hidden;
}
.concern_left{
    background: #fff;
    padding: 15px;
    padding-right: 0px;
}
.concern_right{
    width: 210px;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
    margin-left: 15px;
    border-radius: 3px;
}
.concern_layer{
    display: none;
    position: absolute;
    width: 240px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 15px;
    z-index: 100;
}
.layer_arrow{
    display: none;
    position: absolute;
    top: -11px;
    left: 20px;
    width: 25px;
    height: 18px;
    background: url(images/poparrow.png) no-repeat 0px 0px;
}
.layer_title{
    font-weight: bold;
    padding-bottom: 5px;
}
.layer_bd{
    padding: 10px 0px 10px 0px;
}
.layer_bd label{
    display: inline-block;
    width: 80px;
}
.layer_ft{
    text-align: right;
}
#group_layer label,
#patch_group_bd label{
    display: block;
    width: auto;
    overflow: hidden;
}
.empty-tips{
    display: none;
    padding: 60px 0px;
    color: #999;
    text-align: center;
}
#loading{
    display: none;
    margin: 60px 0px;
    text-align: center;
    color: #999;
}
.feedlist{
    margin-bottom: 15px;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    width: 255px;
    height: 150px;
    float: left;
    margin-right: 15px;
    border: 1px solid #ddd;
}
.feedlist:hover{
    -webkit-box-shadow: 0px 0px 8px #ddd;
    -moz-box-shadow: 0px 0px 8px #ddd;
    -ms-box-shadow: 0px 0px 8px #ddd;
    -o-box-shadow: 0px 0px 8px #ddd;
    box-shadow: 0px 0px 8px #ddd;
}
.feedlist.active{
    border: 1px solid #ffa200;
}
.cancel{
    position:absolute;
    top: 10px;
    right: 10px;
    color: #999;
    cursor: pointer;
    z-index: 1;
    display: none;
}
.nodelete .cancel{
    display: none;
}
.feedlist:hover .cancel{
    display: block;
}
.nodelete:hover .cancel{
    display: none;
}
.feedlist:hover .cancel:hover{
    color: #666;
}
.feed_check{
    display: none;
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(images/check.png) no-repeat 0px 0px;
}
.nodelete .feed_check,.nodelete .drop-layer{
    display: block;
}
.feedlist.active .feed_check{
    background: url(images/check.png) no-repeat -50px 0px;
}
.feed_avator{
    position: absolute;
    top: 13px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: #fff;
}
.feed_avator img {
	border-radius: 50%;
}
.feed_profile{
    margin-left: 60px;
    height: 70%;
    position: relative;
    font-size: 12px;
}
.feed_name{
    font-weight: bold;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feed_info{
    padding: 10px 0px;   
    color: #808080;
}
.feed_info p{
    margin: 0;
    line-height: 25px;
}
.feed_btn{
    border-top: 1px solid #eee;
    padding-top: 13px;
    position: relative;
}
.feed_btn .setpriv{
    font-size: 18px;
    color: #999;
    cursor: pointer;
}
.feed_btn .setpriv:hover{
    color: #666;
}
.group-toggle{
    display: inline-block;
    padding: 3px 20px 3px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    height: 20px;
    margin-right: 30px;
}
.group-toggle span{
    display: inline-block;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.group-toggle em{
    position: absolute;
    top: 8px;
    right: 5px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: url(images/down.png) no-repeat 0px 0px;
}
.setpriv_icon{
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 5px;
}
/*侧栏*/
.concern_right .side{
    padding: 15px;
}
.side_hd{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 14px;
    color: #5898FF;
} 
.side_hd .iconfont{
    font-size: 22px;
    cursor: pointer;
}
.set-icon{
    color: #999;
}
.side_bd ul{
    margin: 0 auto;
    padding: 0;
	list-style: none;
}
.side_bd li a{
    display: block;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    color: #666;
    border-bottom: 1px dotted #ddd;
}
.side_bd li a:hover{
    color: #333;
}
.side_bd li a.active{
    color: #333;
    font-weight: bold;
}
.side_bd li .grouptext{
    width: 130px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.iconfont.all-icon{
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 24px;
    color: #fdc006;
}
.drop-layer{
    display: none;
    width: 255px;
    height: 44px;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*自定义分组*/
.define-group .iconfont{
    position: absolute;
    top: 10px;
    font-size: 18px;
    display: none;
}
.iconfont.draghandle{
    left: 0px;
    color: #999;
}
.iconfont.draghandle:hover{
    color: #666;
}
.iconfont.delhandle{
    right: 0px;
    color: #FF9595;
    cursor: pointer;
}
.edithandle{
    right: 20px;
    cursor: pointer;
}
.iconfont.delhandle:hover{
    color: #FF5E5E;
}
.set .draghandle,
.set .delhandle{
    display: inline-block;
}
.set .define-group li a{
    height: 20px;
    cursor: move;
}
.set li a:hover .edithandle{
    display: inline-block;
    cursor: pointer;
}
.set .grouptext{
    position: absolute;
    left: 30px;
    right: 45px;
    overflow: hidden;
}
/*创建分组*/
.addgroup{
    display: inline-block;
    *+display: inline;
    *+zoom: 1;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 40px;
}
#addgroup{
    border-bottom: 0px;
    cursor: pointer;
}
#groupname{
    margin-left: 20px;
}
#grouptitle{
    text-align: center;
    margin-top: 10px;
}
#concern-pagination{
    margin-right: 10px;
}
@font-face {font-family: 'personinfo-iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "personinfo-iconfont" !important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/static/images/hIEfix.png,sizingMethod=crop);
    zoom: 1;
    font-weight: normal;
}