.HELP{
    word-wrap:break-word;
    width: 320px;
    border: 1px solid #D8D8D8;
    background-color:#FFFFFF;
    position:absolute;
    font-size: 13px;
    color: #8B8B8B;
    font-family: "arial, simsun";
    display: block;
    line-height: 1.7;
    padding: 6px 8px;
    font-weight: normal;
    box-shadow: #E6E6E6 0px 1px 1px;
    border-radius: 3px;
    z-index: 99;
}

.HELP h5{
    border-bottom: 1px solid #BDBDBD;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    color: #797979;
}