.moreapply-add{
		margin: 0 auto;
		width: 1000px
	}
	.moreapply-header{
		float: left;	
	}

	.wrapper{
		clear: both;
	}
	.tip{
		color: #ff9500;
		margin-left: -2px;	
	}
	.type-icon{
		display: inline-block;
		* display: inline;
		* zoom: 1;
		width: 14px;
		height: 20px; 					
	}
	.type-group-icon{
	    background: url('/static/theme/13/images/mytable/9.png') no-repeat -76px 0;
	    vertical-align: middle;
	}
	.expand .type-group-icon{
	    background: url('/static/theme/13/images/mytable/9.png') no-repeat -56px 0; 
	}
	.lib-table{
	    table-layout: fixed;
		border-bottom: 1px solid #dddddd;
	}
	.group-table{
		width: 1000px;
	}
	.apply-list-price{
		cursor: default;
		color: #ff9500;
	}
	.submit-button{
		margin-top: 20px;
		text-align: center;
	}
	.lib-table td,lib-table th{
		vertical-align: middle;
	}
	
	.lib-table th.text-center,
	.lib-table td.text-center{
	    text-align: center;
	}
	.grouphandle{
		cursor: pointer;
		background-color: #fafafa;	
		padding: 6px;
	}
	.grouphandle:hover{
		background-color: #f5f5f5;	
	}
	.moreapply-modal{
		width: 500px;
		margin-left: 30px;
	}