*{padding:0px;margin:0px;}
body{
   margin:0px;
}

#left_top{
   width:188px;
   height:79px;
   background:url('images/person_info.jpg') left center no-repeat;
}

.BlockTop{
   width:178px;
}
.BlockTop td.center{
   text-align:center;
}

#menu{
   width:176px !important;
   width:178px;
   border:1px #5b99ca solid;
   border-top:0px;
}
#menu .title{
   height:32px;
   line-height:32px;
   text-align:center;
   font-weight:bold;
   background:url('images/block_top_bg.png') 0px -32px repeat-x;
}
#menu .menu_container{
   padding:5px;
}
#menu .menu_container a{
   display:block;
   height:20px;
   line-height:20px;
   padding-left:18px;
   color:#393939;
   background:url('images/dot.png') 5px center no-repeat;
}
#menu .menu_container hr{
   height:0px;
   border:0px;
   border-top:1px #95bede solid;
   margin:3px;
}
